---
// Component Imports
import '../styles/base.css';
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="app.js"></script>
    <link rel="stylesheet" href="animations.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>About</title>
</head>
<body class="bg-white dark:bg-black box-border">
    <Navbar />
    <Menu />
        <!--Menu-->
        <div class="menu grid-cols-scale px-3 py-4 md:px-8 md:py-8 bg-black dark:bg-white w-full h-dvh" id="menu">
            <a href="javascript:void(0);" class="col-start-4 md:col-start-8 lg:col-start-12 justify-self-end" onclick="closeNav()">
                <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect x="19.4717" y="2.26416" width="3.16981" height="24" transform="rotate(45 19.4717 2.26416)" class="dark:fill-black fill-white"/>
                    <rect x="21.7358" y="19.2347" width="3.16981" height="24" transform="rotate(135 21.7358 19.2347)" class="dark:fill-black fill-white"/>
                  </svg></i>
                </a>
            <div class="text-white dark:text-black opacity-50 text-lsm md:text-lmd lg:text-llg mt-24 md:mt-28 lg:mt-0 col-start-2">Navigation</div>
            <div class="pt-10 flex flex-row gap-3 items-center col-start-2 md:col-start-2 col-span-4 md:col-span-7 lg:col-span-11 lg:col-start-2">
                <div class="text-white dark:text-black font-medium text-hsm md:text-hmd lg:text-dlg"><a href="work">WORK</a></div>
                <div class="w-full border-y-white dark:border-y-black border-t-[0.25px] pb-1"></div>
            </div>
            <div class="pt-10 flex flex-row gap-3 items-center col-start-2 md:col-start-2 col-span-4 md:col-span-7 lg:col-span-11 lg:col-start-2">
                <div class="text-white dark:text-black font-medium text-hsm md:text-hmd lg:text-dlg"><a href="about">ABOUT</a></div>
                <div class="w-full border-y-white dark:border-y-black border-t-[0.25px] pb-1"></div>
            </div>
            <div class="pt-10 flex flex-row gap-3 items-center col-start-2 md:col-start-2 col-span-4 md:col-span-7 lg:col-span-11 lg:col-start-2">
                <div class="text-white dark:text-black font-medium text-hsm md:text-hmd lg:text-dlg"><a href="resources">RESOURCES</a></div>
                <div class="w-full border-y-white dark:border-y-black border-t-[0.25px] pb-1"></div>
            </div>
            <div class="pt-10 flex flex-row gap-3 items-center col-start-2 md:col-start-2 col-span-4 md:col-span-7 lg:col-span-11 lg:col-start-2">
                <div class="text-white dark:text-black font-medium text-hsm md:text-hmd lg:text-dlg"><a href="playground">PLAYGROUND</a></div>
                <div class="w-full border-y-white dark:border-y-black border-t-[0.25px] pb-1"></div>
            </div>
            <div class="h-full col-span-4 min-h-1"></div>
            <div class="text-white dark:text-black opacity-50 text-lsm md:text-lmd lg:text-llg mt-24 lg:mt-3 col-start-2">Social</div>
            <div class="mt-5 col-start-2 flex flex-col lg:flex-row gap-5 lg:col-start-2 lg:col-span-10 lg:justify-between">
                <div class="text-white dark:text-black font-mono text-bsm md:text-blg"><a href="https://www.are.na/ethan-wright" target="_blank" rel="noopener noreferrer">Are.na</a></div>
                <div class="text-white dark:text-black font-mono text-bsm md:text-blg"><a href="https://www.behance.net/theethanwright" target="_blank" rel="noopener noreferrer">Behance</a></div>
                <div class="text-white dark:text-black font-mono text-bsm md:text-blg"><a href="https://dribbble.com/Theethanwright" target="_blank" rel="noopener noreferrer">Dribble</a></div>
                <div class="text-white dark:text-black font-mono text-bsm md:text-blg"><a href="https://www.instagram.com/theethanwright/" target="_blank" rel="noopener noreferrer">Instagram</a></div>
                <div class="text-white dark:text-black font-mono text-bsm md:text-blg"><a href="https://www.linkedin.com/in/ethan-wright-76751321a/" target="_blank" rel="noopener noreferrer">LinkedIn</a></div>
            </div>
        </div>
    <!--about-->
    <div class="grid-cols-scale gap-x-3 p-3 pt-20 md:px-8 md:pt-32 lg:pt-96">
    <div class="md:col-start-7 col-span-4 md:col-span-2 lg:col-start-10 lg:row-span-14">
    <div class="grid grid-cols-3 lg:sticky lg:top-16 reveal">
    <div class="text-hsm tracking-wide text-black dark:text-white col-span-4 md:justify-self-end md:text-right">Quick Actions</div>
    <div class="border-black dark:border-white border-t-[1px] col-span-4 lg:justify-self-end lg:w-44"></div>
    <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 font-mono col-span-2 pt-2 md:col-span-4 md:justify-self-end"><a href="download/ethan_wright_resume.pdf" download>Resume</a></div>
    <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 font-mono col-span-2 pt-2 md:col-span-4 md:justify-self-end"><a href="download/ethan_wright_portfolio.pdf" download>PDF Portfolio</a></div>
    </div>
    </div>
    <div class="text-dsm md:text-dmd lg:text-dlg tracking-wide text-black dark:text-white col-span-4 pt-60 md:col-span-5 md:row-start-1 md:pt-0 lg:col-start-2 lg:col-span-8 reveal">Who am I?</div>
    <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 font-mono col-span-4 pt-5 md:col-span-5 lg:col-start-2 lg:col-span-7 reveal">Well, my name is Ethan Wright, I'm a junior in college studying graphic design, and I live in the southeast of the U.S. But this doesn't really tell you much about who I actually am.</div>
    <div class="text-hsm md:text-hmd lg:text-hlg tracking-[1.2px] text-black dark:text-white col-span-4 pt-52 reveal md:col-span-8 md:text-center lg:text-left lg:col-start-2 lg:col-span-6 lg:pt-96">Defining a person is difficult but I can be roughly summed up by three main aspects.</div>
    <div class="w-full col-span-4 grid grid-cols-3 justify-items-center pt-20 md:col-start-2 md:col-span-6">
        <div class="reveal"><svg xmlns="http://www.w3.org/2000/svg" width="61" height="76" viewBox="0 0 61 76" fill="none">
            <g clip-path="url(#clip0_432_472)">
              <path d="M30.5114 19.3649C17.7894 19.3649 6.67209 26.1401 0.649843 36.2325C0.0983272 37.1569 0.0983272 38.3008 0.649843 39.2252C6.67209 49.3175 17.7894 56.0927 30.5114 56.0927C43.2334 56.0927 54.3507 49.3175 60.373 39.2252C60.9245 38.3008 60.9245 37.1569 60.373 36.2325C54.3507 26.1401 43.2334 19.3649 30.5114 19.3649ZM30.5114 53.4691C21.7119 53.4691 14.5766 46.4209 14.5766 37.7287C14.5766 29.0364 21.7118 21.9882 30.5114 21.9882C39.311 21.9882 46.4462 29.0364 46.4462 37.7287C46.4462 46.4209 39.314 53.4691 30.5114 53.4691Z" class="fill-black dark:fill-white"/>
              <path d="M30.5121 46.9748C35.6817 46.9748 39.8724 42.8353 39.8724 37.7288C39.8724 32.6224 35.6817 28.4828 30.5121 28.4828C25.3426 28.4828 21.1519 32.6224 21.1519 37.7288C21.1519 42.8353 25.3426 46.9748 30.5121 46.9748Z" class="fill-black dark:fill-white"/>
              <path d="M29.2413 12.4736L28.2944 2.4173C28.1854 1.26029 29.0385 0.234241 30.1996 0.125651C31.5009 -0.0102409 32.6332 1.12317 32.4993 2.4173L31.5524 12.4736C31.3927 13.8637 29.3968 13.8561 29.2413 12.4736Z" class="fill-black dark:fill-white"/>
              <path d="M11.7403 16.8505L7.87068 10.8141C7.24007 9.83043 7.52922 8.52349 8.51631 7.89525C9.66454 7.13974 11.2878 7.73483 11.6816 9.04331L13.8347 15.8772C14.2262 17.1707 12.472 17.9722 11.7403 16.8505Z" class="fill-black dark:fill-white"/>
              <path d="M47.0734 15.9914L49.112 9.40223C49.4573 8.28595 50.6453 7.66017 51.7655 8.00429C53.0957 8.39022 53.6871 10.0282 52.9229 11.1731L49.1679 16.9648C48.4229 18.0868 46.6892 17.2668 47.0734 15.9914Z" class="fill-black dark:fill-white"/>
              <path d="M31.5523 62.7555L32.4993 72.8118C32.6083 73.9688 31.7553 74.9949 30.5942 75.1035C29.2929 75.2394 28.1606 74.106 28.2945 72.8118L29.2413 62.7555C29.4011 61.3655 31.3969 61.373 31.5523 62.7555Z" class="fill-black dark:fill-white"/>
              <path d="M13.8349 59.3519L11.6818 66.186C11.3309 67.2996 10.1405 67.9189 9.02295 67.5694C7.70399 67.1786 7.11811 65.557 7.87085 64.4152L11.7404 58.3788C12.4833 57.2484 14.2268 58.0724 13.8349 59.3521V59.3519Z" class="fill-black dark:fill-white"/>
              <path d="M49.0533 58.3787L52.9228 64.4152C53.5535 65.3988 53.2643 66.7058 52.2772 67.334C51.129 68.0895 49.5057 67.4944 49.1119 66.1859L46.9588 59.352C46.5675 58.0585 48.3216 57.257 49.0533 58.3787Z" class="fill-black dark:fill-white"/>
            </g>
            <defs>
              <clipPath id="clip0_432_472">
                <rect width="60.5505" height="75" class="fill-black dark:fill-white" transform="translate(0.236206 0.114563)"/>
              </clipPath>
            </defs>
          </svg></div>
          <div class="ml-3 reveal delay-100">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="76" viewBox="0 0 75 76" fill="none">
                <g clip-path="url(#clip0_432_458)">
                  <path d="M14.5676 14.379H2.29765C1.11182 14.379 0.150513 15.3403 0.150513 16.5262V28.7961C0.150513 29.9819 1.11182 30.9432 2.29765 30.9432H14.5676C15.7534 30.9432 16.7147 29.9819 16.7147 28.7961V16.5262C16.7147 15.3403 15.7534 14.379 14.5676 14.379Z" class="fill-black dark:fill-white"/>
                  <path d="M14.5676 36.4646H2.29765C1.11182 36.4646 0.150513 37.4259 0.150513 38.6117V50.8817C0.150513 52.0675 1.11182 53.0288 2.29765 53.0288H14.5676C15.7534 53.0288 16.7147 52.0675 16.7147 50.8817V38.6117C16.7147 37.4259 15.7534 36.4646 14.5676 36.4646Z" class="fill-black dark:fill-white"/>
                  <path d="M36.6531 36.4646H24.3832C23.1974 36.4646 22.2361 37.4259 22.2361 38.6117V50.8817C22.2361 52.0675 23.1974 53.0288 24.3832 53.0288H36.6531C37.839 53.0288 38.8003 52.0675 38.8003 50.8817V38.6117C38.8003 37.4259 37.839 36.4646 36.6531 36.4646Z" class="fill-black dark:fill-white"/>
                  <path d="M33.8926 17.1398H27.1441C25.9583 17.1398 24.9969 18.1011 24.9969 19.287V26.0355C24.9969 27.2213 25.9583 28.1826 27.1441 28.1826H33.8926C35.0784 28.1826 36.0397 27.2213 36.0397 26.0355V19.287C36.0397 18.1011 35.0784 17.1398 33.8926 17.1398Z" class="fill-black dark:fill-white"/>
                  <path d="M14.5676 58.5504H2.29765C1.11182 58.5504 0.150513 59.5117 0.150513 60.6975V72.9674C0.150513 74.1532 1.11182 75.1145 2.29765 75.1145H14.5676C15.7534 75.1145 16.7147 74.1532 16.7147 72.9674V60.6975C16.7147 59.5117 15.7534 58.5504 14.5676 58.5504Z" class="fill-black dark:fill-white"/>
                  <path d="M36.6531 58.5504H24.3832C23.1974 58.5504 22.2361 59.5117 22.2361 60.6975V72.9674C22.2361 74.1532 23.1974 75.1145 24.3832 75.1145H36.6531C37.839 75.1145 38.8003 74.1532 38.8003 72.9674V60.6975C38.8003 59.5117 37.839 58.5504 36.6531 58.5504Z" class="fill-black dark:fill-white"/>
                  <path d="M58.7387 58.5504H46.4688C45.283 58.5504 44.3217 59.5117 44.3217 60.6975V72.9674C44.3217 74.1532 45.283 75.1145 46.4688 75.1145H58.7387C59.9245 75.1145 60.8858 74.1532 60.8858 72.9674V60.6975C60.8858 59.5117 59.9245 58.5504 58.7387 58.5504Z" class="fill-black dark:fill-white"/>
                  <path d="M55.9782 39.2254H49.2297C48.0438 39.2254 47.0825 40.1867 47.0825 41.3725V48.1211C47.0825 49.3069 48.0438 50.2682 49.2297 50.2682H55.9782C57.164 50.2682 58.1253 49.3069 58.1253 48.1211V41.3725C58.1253 40.1867 57.164 39.2254 55.9782 39.2254Z" class="fill-black dark:fill-white"/>
                  <path d="M53.8309 19.9004H51.3768C50.5298 19.9004 49.8431 20.587 49.8431 21.4341V23.8881C49.8431 24.7351 50.5298 25.4218 51.3768 25.4218H53.8309C54.6779 25.4218 55.3645 24.7351 55.3645 23.8881V21.4341C55.3645 20.587 54.6779 19.9004 53.8309 19.9004Z" class="fill-black dark:fill-white"/>
                  <path d="M73.5192 11.6857L70.2396 12.3416C67.7146 12.8466 65.7411 14.8201 65.2361 17.3451L64.5801 20.6247C64.3762 21.645 62.9172 21.645 62.7132 20.6247L62.0573 17.3451C61.5522 14.8201 59.5788 12.8466 57.0538 12.3416L53.7741 11.6857C52.7538 11.4817 52.7538 10.0227 53.7741 9.81873L57.0538 9.1628C59.5788 8.65777 61.5522 6.68429 62.0573 4.15933L62.7132 0.879664C62.9172 -0.140633 64.3762 -0.140633 64.5801 0.879664L65.2361 4.15933C65.7411 6.68429 67.7146 8.65777 70.2396 9.1628L73.5192 9.81873C74.5395 10.0227 74.5395 11.4817 73.5192 11.6857Z" class="fill-black dark:fill-white"/>
                  <path d="M74.1042 30.5439L72.4644 30.8719C71.202 31.1244 70.2151 32.1112 69.9627 33.3736L69.6348 35.0134C69.5328 35.5235 68.8033 35.5235 68.7013 35.0134L68.3733 33.3736C68.1208 32.1112 67.1341 31.1242 65.8717 30.8719L64.2319 30.5439C63.7217 30.442 63.7217 29.7125 64.2319 29.6105L65.8717 29.2825C67.1341 29.03 68.121 28.0433 68.3733 26.7809L68.7013 25.141C68.8033 24.6309 69.5328 24.6309 69.6348 25.141L69.9627 26.7809C70.2153 28.0433 71.202 29.0302 72.4644 29.2825L74.1042 29.6105C74.6144 29.7125 74.6144 30.442 74.1042 30.5439Z" class="fill-black dark:fill-white"/>
                  <path d="M52.3417 5.90837L51.2181 6.13302C50.353 6.3061 49.677 6.98213 49.5039 7.84717L49.2793 8.97078C49.2093 9.32036 48.7096 9.32036 48.6397 8.97078L48.415 7.84717C48.2419 6.98213 47.5659 6.3061 46.7009 6.13302L45.5772 5.90837C45.2277 5.83842 45.2277 5.3387 45.5772 5.26874L46.7009 5.0441C47.5659 4.87101 48.2419 4.19499 48.415 3.32995L48.6397 2.20634C48.7096 1.85676 49.2093 1.85676 49.2793 2.20634L49.5039 3.32995C49.677 4.19499 50.353 4.87101 51.2181 5.0441L52.3417 5.26874C52.6913 5.3387 52.6913 5.83842 52.3417 5.90837Z" class="fill-black dark:fill-white"/>
                </g>
                <defs>
                  <clipPath id="clip0_432_458">
                    <rect width="74.3365" height="75" class="fil-white dark:fill-black" transform="translate(0.150513 0.114563)"/>
                  </clipPath>
                </defs>
              </svg>
          </div>
          <div class="reveal delay-200">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="76" viewBox="0 0 70 76" fill="none">
                <g clip-path="url(#clip0_427_134)">
                  <path d="M55.1543 29.3244V43.0159C55.1543 43.4747 54.7824 43.8466 54.3236 43.8466H51.8428C49.8977 43.8466 48.321 45.4233 48.321 47.3684V53.1746C48.321 53.6334 47.9491 54.0053 47.4903 54.0053H41.6814C39.7434 54.0053 38.1623 55.5835 38.1623 57.5244V64.1473C38.1623 66.0883 39.7431 67.6691 41.6814 67.6691H47.4903C47.9491 67.6691 48.321 68.041 48.321 68.4998V73.3991C48.321 73.714 48.1412 73.9981 47.8616 74.1429C46.0073 75.1037 43.9036 75.6461 41.6705 75.6461H28.7682C23.3221 75.6461 18.6318 72.4177 16.5054 67.7717L16.4333 67.6167L0.756445 33.9482C0.449193 33.3308 0.701106 32.5832 1.3185 32.2759C2.56444 31.6585 3.88513 31.3651 5.1893 31.3651C8.28205 31.3651 11.2639 33.018 12.8394 35.8892L15.2842 40.8203L18.3576 47.0141C18.377 47.0529 18.3991 47.0915 18.424 47.1303C18.7784 47.698 19.5122 47.9139 20.1269 47.6094C20.7776 47.2854 21.0462 46.4935 20.7222 45.8429L18.1998 40.7594L15.6018 35.5237C15.393 35.1029 15.2844 34.6396 15.2844 34.17V11.6017C15.2844 9.38378 17.0813 7.58694 19.2962 7.58694C20.4065 7.58694 21.4088 8.03543 22.1342 8.76371C22.8625 9.48909 23.311 10.4943 23.311 11.6017V37.0526C23.311 37.5694 23.7299 37.9883 24.2468 37.9883H24.9612C25.4762 37.9883 25.897 37.5702 25.897 37.0526V4.77666C25.8968 2.56767 27.7027 0.645072 29.9117 0.645691C31.023 0.645898 32.0237 1.09397 32.7495 1.82246C33.4775 2.54784 33.9262 3.55013 33.9262 4.66041V37.0526C33.9262 37.5694 34.3452 37.9883 34.862 37.9883H35.5736C36.0904 37.9883 36.5094 37.5694 36.5094 37.0526V14.4923C36.5094 12.3628 38.1175 10.5139 40.242 10.3681C41.4593 10.2845 42.5737 10.7468 43.362 11.5352C44.0903 12.2606 44.5388 13.2628 44.5388 14.3731V37.0526C44.5388 37.5694 44.9578 37.9883 45.4746 37.9883H46.189C46.704 37.9883 47.1248 37.5702 47.1248 37.0526V29.4435C47.1248 27.2147 48.8913 25.3181 51.1201 25.3099C52.236 25.3043 53.2439 25.7557 53.9775 26.4866C54.7058 27.212 55.1543 28.2141 55.1543 29.3244Z" class="fill-black dark:fill-white"/>
                  <path d="M69.3745 57.5242V64.1471C69.3745 64.5623 69.0367 64.9001 68.6241 64.9001H59.969C59.5565 64.9001 59.2187 65.238 59.2187 65.6505V74.3056C59.2187 74.7182 58.8809 75.056 58.4627 75.056H51.8426C51.4244 75.056 51.0895 74.7182 51.0895 74.3056V65.6505C51.0895 65.238 50.7544 64.9001 50.3391 64.9001H41.6812C41.2686 64.9001 40.9308 64.5623 40.9308 64.1471V57.5242C40.9308 57.109 41.2686 56.7739 41.6812 56.7739H50.3391C50.7544 56.7739 51.0895 56.4387 51.0895 56.0208V47.3684C51.0895 46.9503 51.4244 46.6154 51.8426 46.6154H58.4627C58.8809 46.6154 59.2187 46.9503 59.2187 47.3684V56.0208C59.2187 56.4389 59.5565 56.7739 59.969 56.7739H68.6241C69.0367 56.7739 69.3745 57.1088 69.3745 57.5242Z" class="fill-black dark:fill-white"/>
                </g>
                <defs>
                  <clipPath id="clip0_427_134">
                    <rect width="68.749" height="75" class="fil-white dark:fill-black" transform="translate(0.625488 0.645691)"/>
                  </clipPath>
                </defs>
              </svg>
          </div>
          <div class="text-lsm md:text-lmd tracking-[1px] text-black dark:text-white pt-5 reveal">CURIOSITY</div>
          <div class="text-lsm md:text-lmd tracking-[1px] text-black dark:text-white pt-5 reveal delay-100">CREATING</div>
          <div class="text-lsm md:text-lmd tracking-[1px] text-black dark:text-white pt-5 reveal delay-200">CARING</div>
    </div>
    <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 font-mono col-span-4 pt-20 md:col-start-3 lg:col-start-2 lg:col-span-6 reveal">I have changed a lot over my life but these three elements have stayed with me throughout.</div>
    <div class="text-hsm md:text-hmd tracking-[1.2px] text-black dark:text-white col-span-4 pt-64 md:col-span-8 md:text-center lg:col-start-2 lg:text-left lg:col-span-5 lg:pt-96 reveal">let's take a closer look at each of these ideas.</div>
    <div class="col-span-4 justify-self-center pt-52 md:col-start-6 lg:row-start-7 lg:pt-96 reveal">
        <svg xmlns="http://www.w3.org/2000/svg" width="142" height="176" viewBox="0 0 142 176" fill="none">
            <g clip-path="url(#clip0_427_162)">
              <path d="M71.297 45.7284C41.6123 45.7284 15.672 61.5371 1.62006 85.086C0.33319 87.2429 0.33319 89.912 1.62006 92.0689C15.672 115.618 41.6123 131.426 71.297 131.426C100.982 131.426 126.922 115.618 140.974 92.0689C142.261 89.912 142.261 87.2429 140.974 85.086C126.922 61.5371 100.982 45.7284 71.297 45.7284ZM71.297 125.305C50.7649 125.305 34.1158 108.859 34.1158 88.5771C34.1158 68.2951 50.7645 51.8494 71.297 51.8494C91.8295 51.8494 108.478 68.2951 108.478 88.5771C108.478 108.859 91.8364 125.305 71.297 125.305Z" class="fill-black dark:fill-white"/>
              <path d="M71.2988 110.152C83.3611 110.152 93.1395 100.493 93.1395 88.5775C93.1395 76.6625 83.3611 67.0034 71.2988 67.0034C59.2365 67.0034 49.4581 76.6625 49.4581 88.5775C49.4581 100.493 59.2365 110.152 71.2988 110.152Z" class="fill-black dark:fill-white"/>
              <path d="M68.3336 29.6486L66.1243 6.18396C65.87 3.48428 67.8605 1.09016 70.5697 0.836785C73.6061 0.519704 76.2481 3.16432 75.9357 6.18396L73.7263 29.6486C73.3536 32.8921 68.6966 32.8745 68.3336 29.6486Z" class="fill-black dark:fill-white"/>
              <path d="M27.498 39.8615L18.469 25.7765C16.9975 23.4813 17.6722 20.4318 19.9754 18.9659C22.6546 17.2031 26.4423 18.5916 27.3611 21.6447L32.3851 37.5905C33.2985 40.6087 29.2053 42.4788 27.498 39.8615Z" class="fill-black dark:fill-white"/>
              <path d="M109.942 37.8567L114.699 22.4821C115.504 19.8774 118.276 18.4173 120.89 19.2202C123.994 20.1207 125.374 23.9426 123.591 26.6142L114.829 40.1281C113.091 42.7461 109.045 40.8328 109.942 37.8567Z" class="fill-black dark:fill-white"/>
              <path d="M73.726 146.973L75.9356 170.438C76.1899 173.137 74.1995 175.532 71.4903 175.785C68.4539 176.102 65.8119 173.457 66.1243 170.438L68.3336 146.973C68.7063 143.73 73.3633 143.747 73.726 146.973Z" class="fill-black dark:fill-white"/>
              <path d="M32.3854 139.031L27.3615 154.978C26.5427 157.576 23.7652 159.021 21.1576 158.206C18.08 157.294 16.7129 153.51 18.4693 150.846L27.4984 136.761C29.2316 134.123 33.2999 136.046 32.3854 139.032V139.031Z" class="fill-black dark:fill-white"/>
              <path d="M114.562 136.761L123.591 150.846C125.062 153.141 124.387 156.191 122.084 157.656C119.405 159.419 115.617 158.031 114.698 154.978L109.675 139.032C108.761 136.014 112.854 134.144 114.562 136.761Z" class="fill-black dark:fill-white"/>
            </g>
            <defs>
              <clipPath id="clip0_427_162">
                <rect width="141.284" height="175" class="fil-white dark:fill-black" transform="translate(0.655029 0.810913)"/>
              </clipPath>
            </defs>
          </svg>
    </div>
    <div class="text-dsm md:text-dmd tracking-[1.2px] text-black dark:text-white col-span-4 pt-10 md:col-span-5 md:row-start-7 md:self-end md:pb-10 lg:col-start-2 lg:col-span-6 reveal">CURIOSITY</div>
    <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 font-mono col-span-4 pt-2 md:col-span-5 lg:col-start-2 lg:row-start-8 reveal">Curiosity is my fascination and longing for wisdom, knowledge, 
        and understanding. Throughout my life, I have had a profound 
        fascination with the world around me. To this day I still 
        maintain a child-like inquisitiveness. I am constantly asking 
        questions about everything. There is Something that brings 
        me such joy when discovering unexplored mysteries and making new 
        connections. I have an overwhelming desire to understand the 
        world I live in. </div>
    <div class="col-span-4 justify-self-center pt-28 md:col-start-7 md:row-start-9 md:pb-6 lg:col-start-6 lg:pt-96 reveal">
        <svg xmlns="http://www.w3.org/2000/svg" width="174" height="176" viewBox="0 0 174 176" fill="none">
            <g clip-path="url(#clip0_432_229)">
              <path d="M33.9529 33.4543H5.32309C2.55616 33.4543 0.31311 35.6974 0.31311 38.4643V67.0941C0.31311 69.8611 2.55616 72.1041 5.32309 72.1041H33.9529C36.7198 72.1041 38.9629 69.8611 38.9629 67.0941V38.4643C38.9629 35.6974 36.7198 33.4543 33.9529 33.4543Z" class="fill-black dark:fill-white"/>
              <path d="M33.9529 84.9874H5.32309C2.55616 84.9874 0.31311 87.2305 0.31311 89.9974V118.627C0.31311 121.394 2.55616 123.637 5.32309 123.637H33.9529C36.7198 123.637 38.9629 121.394 38.9629 118.627V89.9974C38.9629 87.2305 36.7198 84.9874 33.9529 84.9874Z" class="fill-black dark:fill-white"/>
              <path d="M85.486 84.9874H56.8562C54.0892 84.9874 51.8462 87.2305 51.8462 89.9974V118.627C51.8462 121.394 54.0892 123.637 56.8562 123.637H85.486C88.2529 123.637 90.496 121.394 90.496 118.627V89.9974C90.496 87.2305 88.2529 84.9874 85.486 84.9874Z" class="fill-black dark:fill-white"/>
              <path d="M79.0445 39.8962H63.298C60.531 39.8962 58.288 42.1393 58.288 44.9062V60.6528C58.288 63.4197 60.531 65.6628 63.298 65.6628H79.0445C81.8114 65.6628 84.0545 63.4197 84.0545 60.6528V44.9062C84.0545 42.1393 81.8114 39.8962 79.0445 39.8962Z" class="fill-black dark:fill-white"/>
              <path d="M33.9529 136.521H5.32309C2.55616 136.521 0.31311 138.764 0.31311 141.531V170.161C0.31311 172.928 2.55616 175.171 5.32309 175.171H33.9529C36.7198 175.171 38.9629 172.928 38.9629 170.161V141.531C38.9629 138.764 36.7198 136.521 33.9529 136.521Z" class="fill-black dark:fill-white"/>
              <path d="M85.486 136.521H56.8562C54.0892 136.521 51.8462 138.764 51.8462 141.531V170.161C51.8462 172.928 54.0892 175.171 56.8562 175.171H85.486C88.2529 175.171 90.496 172.928 90.496 170.161V141.531C90.496 138.764 88.2529 136.521 85.486 136.521Z" class="fill-black dark:fill-white"/>
              <path d="M137.019 136.521H108.389C105.622 136.521 103.379 138.764 103.379 141.531V170.161C103.379 172.928 105.622 175.171 108.389 175.171H137.019C139.786 175.171 142.029 172.928 142.029 170.161V141.531C142.029 138.764 139.786 136.521 137.019 136.521Z" class="fill-black dark:fill-white"/>
              <path d="M130.578 91.4292H114.831C112.064 91.4292 109.821 93.6722 109.821 96.4392V112.186C109.821 114.953 112.064 117.196 114.831 117.196H130.578C133.345 117.196 135.588 114.953 135.588 112.186V96.4392C135.588 93.6722 133.345 91.4292 130.578 91.4292Z" class="fill-black dark:fill-white"/>
              <path d="M125.567 46.3376H119.841C117.865 46.3376 116.262 47.9398 116.262 49.9162V55.6423C116.262 57.6187 117.865 59.2209 119.841 59.2209H125.567C127.544 59.2209 129.146 57.6187 129.146 55.6423V49.9162C129.146 47.9398 127.544 46.3376 125.567 46.3376Z" class="fill-black dark:fill-white"/>
              <path d="M171.507 27.17L163.854 28.7005C157.963 29.8789 153.358 34.4837 152.179 40.3752L150.649 48.0278C150.173 50.4085 146.769 50.4085 146.293 48.0278L144.762 40.3752C143.584 34.4837 138.979 29.8789 133.087 28.7005L125.435 27.17C123.054 26.694 123.054 23.2897 125.435 22.8138L133.087 21.2833C138.979 20.1048 143.584 15.5001 144.762 9.60848L146.293 1.95593C146.769 -0.424763 150.173 -0.424763 150.649 1.95593L152.179 9.60848C153.358 15.5001 157.963 20.1048 163.854 21.2833L171.507 22.8138C173.887 23.2897 173.887 26.694 171.507 27.17Z" class="fill-black dark:fill-white"/>
              <path d="M172.872 71.1725L169.046 71.9378C166.1 72.527 163.797 74.8294 163.208 77.7749L162.443 81.6012C162.205 82.7916 160.503 82.7916 160.265 81.6012L159.5 77.7749C158.911 74.8294 156.608 72.5265 153.663 71.9378L149.836 71.1725C148.646 70.9345 148.646 69.2324 149.836 68.9944L153.663 68.2292C156.608 67.64 158.911 65.3376 159.5 62.392L160.265 58.5657C160.503 57.3754 162.205 57.3754 162.443 58.5657L163.208 62.392C163.798 65.3376 166.1 67.6404 169.046 68.2292L172.872 68.9944C174.062 69.2324 174.062 70.9345 172.872 71.1725Z" class="fill-black dark:fill-white"/>
              <path d="M122.092 13.6895L119.471 14.2137C117.452 14.6176 115.875 16.195 115.471 18.2134L114.947 20.8352C114.784 21.6508 113.618 21.6508 113.454 20.8352L112.93 18.2134C112.526 16.195 110.949 14.6176 108.931 14.2137L106.309 13.6895C105.493 13.5263 105.493 12.3603 106.309 12.1971L108.931 11.6729C110.949 11.269 112.526 9.69164 112.93 7.67323L113.454 5.05146C113.618 4.23578 114.784 4.23578 114.947 5.05146L115.471 7.67323C115.875 9.69164 117.452 11.269 119.471 11.6729L122.092 12.1971C122.908 12.3603 122.908 13.5263 122.092 13.6895Z" class="fill-black dark:fill-white"/>
            </g>
            <defs>
              <clipPath id="clip0_432_229">
                <rect width="173.452" height="175" class="fil-white dark:fill-black" transform="translate(0.31311 0.170654)"/>
              </clipPath>
            </defs>
          </svg>
    </div>
    <div class="text-dsm md:text-dmd tracking-[1.2px] text-black dark:text-white col-span-4 pt-10 md:col-span-5 md:row-start-9 md:self-end md:pb-10 lg:col-start-2 lg:col-span-6 reveal">CREATING</div>
    <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 font-mono col-span-4 pt-2 md:col-span-5 md:row-start-10 lg:col-start-2 reveal">Creating is about generating newness through the application 
        of collected wisdom. It can look like teaching, building, 
        breaking, solving, and developing. I am drawn more to the 
        practice rather than the end product. Whenever I learn 
        something I need to make use of it in some way. I either have to 
        tell someone about it or build something from it. Yet, creating 
        itself is really a form of learning and points back to my 
        curiosity. My knowledge cannot be static. Knowing something 
        is not enough, I must apply it. </div>
        <div class="col-span-4 justify-self-center pt-28 md:col-start-7 md:row-start-11 md:pb-6 lg:col-start-6 lg:pt-96 reveal">
            <svg xmlns="http://www.w3.org/2000/svg" width="162" height="176" viewBox="0 0 162 176" fill="none">
                <g clip-path="url(#clip0_427_221)">
                  <path d="M128.027 67.6753V99.6221C128.027 100.693 127.159 101.56 126.088 101.56H120.3C115.761 101.56 112.082 105.239 112.082 109.778V123.326C112.082 124.396 111.215 125.264 110.144 125.264H96.5899C92.0677 125.264 88.3786 128.946 88.3786 133.475V148.929C88.3786 153.458 92.0673 157.146 96.5899 157.146H110.144C111.215 157.146 112.082 158.014 112.082 159.085V170.516C112.082 171.251 111.663 171.914 111.01 172.252C106.684 174.494 101.775 175.759 96.5644 175.759H66.459C53.7515 175.759 42.8074 168.226 37.8458 157.386L37.6776 157.024L1.09829 78.4642C0.381368 77.0237 0.969167 75.2791 2.40975 74.5621C5.31695 73.1215 8.39855 72.4369 11.4416 72.4369C18.658 72.4369 25.6157 76.2937 29.2919 82.9932L34.9964 94.4991L42.1675 108.951C42.2128 109.042 42.2644 109.132 42.3227 109.222C43.1495 110.547 44.8618 111.051 46.2961 110.34C47.8143 109.584 48.4411 107.737 47.6851 106.218L41.7994 94.357L35.7374 82.1404C35.2503 81.1585 34.9969 80.0773 34.9969 78.9817V26.3222C34.9969 21.1472 39.1895 16.9545 44.3578 16.9545C46.9485 16.9545 49.2871 18.001 50.9797 19.7003C52.679 21.3929 53.7255 23.7383 53.7255 26.3222V85.7076C53.7255 86.9136 54.7031 87.8912 55.909 87.8912H57.576C58.7777 87.8912 59.7596 86.9155 59.7596 85.7076V10.3972C59.7591 5.24291 63.9729 0.756856 69.1272 0.758301C71.7203 0.758783 74.0551 1.80429 75.7486 3.50409C77.4475 5.19666 78.4944 7.53532 78.4944 10.126V85.7076C78.4944 86.9136 79.472 87.8912 80.678 87.8912H82.3382C83.5442 87.8912 84.5218 86.9136 84.5218 85.7076V33.067C84.5218 28.0981 88.274 23.7841 93.2313 23.4439C96.0715 23.2488 98.6718 24.3276 100.511 26.1671C102.211 27.8596 103.257 30.1983 103.257 32.789V85.7076C103.257 86.9136 104.235 87.8912 105.441 87.8912H107.108C108.309 87.8912 109.291 86.9155 109.291 85.7076V67.9533C109.291 62.7527 113.413 58.3273 118.614 58.3081C121.217 58.2951 123.569 59.3483 125.281 61.0539C126.98 62.7464 128.027 65.0846 128.027 67.6753Z" class="fill-black dark:fill-white"/>
                  <path d="M161.207 133.475V148.928C161.207 149.897 160.419 150.685 159.456 150.685H139.261C138.298 150.685 137.51 151.473 137.51 152.436V172.631C137.51 173.594 136.722 174.382 135.746 174.382H120.299C119.324 174.382 118.542 173.594 118.542 172.631V152.436C118.542 151.473 117.76 150.685 116.791 150.685H96.5894C95.6267 150.685 94.8385 149.897 94.8385 148.928V133.475C94.8385 132.506 95.6267 131.724 96.5894 131.724H116.791C117.76 131.724 118.542 130.942 118.542 129.967V109.778C118.542 108.802 119.324 108.021 120.299 108.021H135.746C136.722 108.021 137.51 108.802 137.51 109.778V129.967C137.51 130.942 138.298 131.724 139.261 131.724H159.456C160.419 131.724 161.207 132.505 161.207 133.475Z" class="fill-black dark:fill-white"/>
                </g>
                <defs>
                  <clipPath id="clip0_427_221">
                    <rect width="160.414" height="175" class="fil-white dark:fill-black" transform="translate(0.792725 0.758301)"/>
                  </clipPath>
                </defs>
              </svg>
        </div>
        <div class="text-dsm md:text-dmd tracking-[1.2px] text-black dark:text-white col-span-4 pt-10 md:col-span-5 md:row-start-11 md:self-end md:pb-10 lg:col-start-2 lg:col-span-6 reveal">CARING</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 font-mono col-span-4 pt-2 md:col-span-5 md:row-start-12 lg:col-start-2 reveal">Caring is about being a blessing to those around me. My creations 
          are only meaningful when they are helpful to others. Life is not 
            about what I can take but about what I can add. Anything that I 
            create that does not do good is meaningless. Learning and 
            making are only sacred if they result in goodness. I feel I have an 
            immense debt I ought to pay back. All the love that has been 
            poured out on me has led me to feel a duty to love others. </div>
            <div class="text-hsm md:text-hmd tracking-[1.2px] text-black dark:text-white col-span-4 pt-52 md:col-start-2 md:col-span-6 md:text-center lg:text-left lg:col-start-2 lg:pt-96 reveal">All of these ideas have come together to make me who I am.</div>
        <div class="text-dsm md:text-dmd tracking-[1.2px] text-black dark:text-white col-span-4 pt-52 md:col-span-8 lg:col-start-2 lg:col-span-7 lg:pt-96 reveal">So that's a bit about myself and what I care for.</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 font-mono col-span-4 pt-10 pb-32 lg:col-start-2 reveal">Enough about me, I want to hear about you! Send me an email, I'd love to chat.</div>
</div>
    <!--Footer-->
    <Footer Primary='Work' PrimaryLink='work' Secondary={`Check Out the   Playground`} SecondaryLink='playground'/></div>
</div>
</html>
</body>
</html>