---
// Component Imports
import '../styles/base.css';
import Head from '../components/Head.astro'
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'

---
<html lang="en">
<head>
  <Head Title='Campaign'/>
</head>
<Gtag/>
<body class="bg-white dark:bg-black box-border overflow-x-clip">
    <Navbar />
    <Menu />
    <!--Project-->
    <div class="bg-gradient-to-r from-[#C5C5C5] via-[#D9D9D9] to-[#C5C5C5] p-4 absolute top-[90%] right-[0%] flex flex-row gap-3 rounded-l-md items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
        <path d="M8.76631 0.717387C9.07761 -0.178173 10.3441 -0.178173 10.6554 0.717388L12.1786 5.0994C12.316 5.49447 12.6846 5.76234 13.1028 5.77086L17.741 5.86538C18.689 5.8847 19.0803 7.08924 18.3248 7.66205L14.628 10.4648C14.2947 10.7175 14.1538 11.1509 14.275 11.5512L15.6184 15.9917C15.8929 16.8992 14.8683 17.6436 14.09 17.1021L10.2821 14.4523C9.93874 14.2134 9.48301 14.2134 9.1397 14.4523L5.33173 17.1021C4.55349 17.6436 3.52884 16.8992 3.8034 15.9917L5.1468 11.5512C5.26791 11.1509 5.12708 10.7175 4.79379 10.4648L1.09694 7.66205C0.341403 7.08924 0.732784 5.8847 1.68071 5.86538L6.31894 5.77086C6.73711 5.76234 7.1058 5.49447 7.24313 5.0994L8.76631 0.717387Z" fill="white"/>
      </svg>
      <div class="text-llg tracking-widest mt-1">SILVER ADDY AWARD</div>
    </div>
    <img src="project-campaign/images/14.jpg" alt="" class="h-lvh w-full object-cover">
    <div class="grid-cols-scale gap-x-5 p-3 pb-20 pt-9 md:px-8 md:pt-10">
          <div class="text-dsm text-black dark:text-white tracking-widest font-medium col-start-1 md:text-dmd lg:text-dlg lg:col-start-2 reveal">CAMPAIGN</div>
          <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-sans-ibm mt-2 mb-14 col-start-1 col-span-4 md:col-span-8 lg:col-start-2 lg:col-span-6 row-span-3 reveal">The Art+Design program at the South Carolina School of the Arts, Anderson University, is dedicated to helping students grow both as designers and individuals. This mail-out mini zine and fold-out poster provide comprehensive information that current students believe is essential for incoming students making their college decisions.</div>
          <div class="text-bmd tracking-wide text-black dark:text-white font-mono mb-14 col-start-1 col-span-2 md:col-start-1 md:col-span-2 lg:col-start-9 lg:col-span-2 reveal">Skills Used:<div class="text-opacity-50 dark:text-opacity-50 mt-2 flex flex-col gap-2"><li>Project Management</li><li>Creative Direction</li><li>Book Design</li></div></div>
          <div class="text-bmd tracking-wide text-black dark:text-white font-mono mb-14 col-start-3 col-span-2 md:col-start-5 md:col-span-2 lg:col-start-11 lg:col-span-2 reveal">Tools Used:<div class="text-opacity-50 dark:text-opacity-50 mt-2 flex flex-col gap-2"><li>InDesign</li><li>Illustrator</li><li>Photoshop</li><li>Cinema 4D</li></div></div>
          <div class="text-bmd tracking-wide text-black dark:text-white font-mono mb-14 col-start-1 col-span-2 md:col-start-5 md:col-span-2 lg:col-start-9 lg:col-span-2 reveal">Awards:<div class="text-opacity-50 dark:text-opacity-50 mt-2 flex flex-col gap-2"><li class="leading-6">AMERICAN ADVERTISING AWARDS GREENVILLE 2024: Gold Addy <br> - Special Event Materials</li></div></div>
          <div class="text-bmd tracking-wide text-black dark:text-white font-mono mb-14 col-start-3 col-span-2 md:col-start-1 md:col-span-2 lg:col-start-11 lg:col-span-2 reveal">Collaborators:<div class="text-opacity-50 dark:text-opacity-50 mt-2 flex flex-col gap-2"><li>Ellie Gramm</li><li>Jackson Knight</li><li>Rebekah Smith</li></div></div>
          <video src="project-campaign/images/13.mp4" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal" autoplay loop muted playsinline playsinline data-object-fit="cover"></video>
          <img src="project-campaign/images/1.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal">
          <img src="project-campaign/images/2.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal">
          <img src="project-campaign/images/3.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal">
          <img src="project-campaign/images/4.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal">
          <img src="project-campaign/images/5.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-campaign/images/6.png" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-campaign/images/7.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-campaign/images/8.png" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-campaign/images/9.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-campaign/images/10.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-campaign/images/11.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-campaign/images/12.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal">
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 mt-14 reveal">
            <div class="text-hsm text-black dark:text-white">Mini Zine Design</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">Designed to be playful and engaging, the Mini Zine features printer marks, color-coded sections for organization, dotted grid elements, and, most excitingly, student-designed typefaces and artwork! The copy was entirely crafted by students, offering genuine perspectives on program benefits, clubs and organizations, faculty, internships, location, and preparation for the future.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-5 lg:mt-14 reveal">
            <div class="text-hsm text-black dark:text-white">Fold-Out Poster Design</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">The fold-out poster highlights the excellence of the Design Program at the South Carolina School of the Arts, Anderson University. Through effective typographic hierarchy, we present key statistics, alumni quotes, and details about the AU Design Program. The interior showcases the high-quality student work produced within the Art+Design department.</div>
          </div>
  </div>
</div>
<!--Footer-->
<Footer Primary='Next Project' PrimaryLink='project-engram' Secondary='Check Out the Playground' SecondaryLink='playground'/></div>
</body>
</html>