---
// Component Imports
import '../styles/base.css';
import Head from '../components/Head.astro'
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'

---

<html lang="en">
<head>
  <Head Title='Engram'/>
</head>
<Gtag/>
<body class="bg-white dark:bg-black box-border">
    <Navbar />
    <Menu />
    <!--Project-->
    <img src="project-engram/public/images/1.jpg" alt="" class="h-lvh w-full object-cover">
    <div class="grid-cols-scale gap-x-5 p-3 pt-9 md:px-8 md:pt-10">
          <div class="text-dsm text-black dark:text-white font-medium col-start-1 md:text-dmd lg:text-dlg lg:col-start-2 reveal">ENGRAM</div>
          <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono mt-2 mb-14 col-start-1 col-span-4 md:col-span-8 lg:col-start-2 lg:col-span-6 lg:row-span-2 reveal">The Form Theory project involved a team collaboration to design and build "The Engram Chair" for young adults in compact living spaces. Influenced by design principles from Rams, Tschichold, and Le Corbusier, the chair prioritizes modularity, comfort, and adaptability. Its form is simple and provisional, using natural and raw materials. The design process included prototyping and a digital 3D model for precision. Challenges included refining the philosophical statement, integrating raw materials, and maintaining design integrity. "The Engram Chair" visually represents the team's design philosophies and serves as a functional, minimalist solution for small spaces.</div>
          <div class="text-bmd tracking-wide text-black dark:text-white font-mono mb-14 col-start-1 col-span-2 md:col-start-1 md:col-span-2 lg:col-start-9 lg:col-span-2 reveal">Skills Used:<div class="text-opacity-50 dark:text-opacity-50 mt-2 flex flex-col gap-2"><li>Prototyping</li><li>Creative Direction</li><li>Project Management</li></div></div>
          <div class="text-bmd tracking-wide text-black dark:text-white font-mono mb-14 col-start-3 col-span-2 md:col-start-5 md:col-span-2 lg:col-start-11 lg:col-span-2 reveal">Tools Used:<div class="text-opacity-50 dark:text-opacity-50 mt-2 flex flex-col gap-2"><li>Onshape</li><li>Illustrator</li><li>CNC Mill</li></div></div>
          <div class="text-bmd tracking-wide text-black dark:text-white font-mono mb-14 col-start-3 col-span-2 md:col-start-5 md:col-span-2 lg:col-start-9 lg:col-span-2 reveal">Collaborators:<div class="text-opacity-50 dark:text-opacity-50 mt-2 flex flex-col gap-2"><li>Ellie Gramm</li><li>Rebekah Smith</li></div></div>
          <img src="project-engram/public/images/3.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-engram/public/images/4.gif" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-engram/public/images/5.gif" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-engram/public/images/6.gif" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 mt-14 reveal">
            <div class="text-hsm text-black dark:text-white">Brief</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">The Form Theory project gave us an opportunity to collectively design and construct a chair, inspired by our design philosophies and the designers who came before us.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-5 lg:mt-14 reveal">
            <div class="text-hsm text-black dark:text-white">Philosophy</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">We synthesized our collective ideas and aimed at making a multi-functional chair that is personal, understandable, and unrestrictive for small spaces to grow relationships and function individually. By targeting young adults between the ages of 20-35 who enjoy reduced and minimal living spaces, our chair accommodates our core desired principles of “less is more” and “a house is a machine for living”.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 reveal">
            <div class="text-hsm text-black dark:text-white">Influences</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">
                DIETER RAMS <br>
                By utilizing materials that change over time, we can integrate Dieter Rams’ philosophy of designing for growth and connections in mind.<br>
                <br>
                JAN TSCHICHOLD <br>
                The meticulous craft of the chair will acquire order and structure, coinciding with Jan Tschichold’s foundational proportions, human ratios, and pressure points, emphasizing the Golden Ratio.<br>
                <br>
                CHARLES LE CORBUSIER <br>
                Natural forms, as Le Corbusier incorporated into his designs, will elevate the relationship between life, nature, and the user.</div>
          </div>
          <div class="col-start-1 col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-5 grid grid-cols-4 lg:grid-cols-5 lg:box-content reveal">
          <div class="col-span-2">
            <div class="text-hsm text-black dark:text-white">Function</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">
                <li>COMFORT</li>
                <li>UNRESTRICTIVE</li>
                <li>REPURPOSING</li>
                <li>UNCONSTRAINED</li>
            </div>
          </div>
          <div class="col-span-2 lg:col-start-4">
            <div class="text-hsm text-black dark:text-white">Form</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">
                <li>SIMPLE</li>
                <li>PRIMARY</li>
                <li>PROVISIONAL</li>
                <li>ADAPTABLE</li>
            </div>
            </div>
            <div class="col-span-2">
            <div class="text-hsm text-black dark:text-white">Aesthetic</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">
                <li>NATURAL</li>
                <li>SIMPLISTIC</li>
                <li>NON-DOMINATING</li>
                <li>NEUTRAL</li>
            </div>
            </div>
            <div class="col-span-2 lg:col-start-4">
            <div class="text-hsm text-black dark:text-white">Materials</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">
                <li>LONG-LASTING</li>
                <li>DURABLE</li>
                <li>SUSTAINABLE</li>
                <li>NATURAL + RAW</li>
                <li>COHESIVE</li>
            </div>
            </div>
          </div>
    <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 lg:h-full">
    <div class="lg:sticky lg:top-8 reveal">
        <div class="text-hsm text-black dark:text-white">Process</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">Our process began with prototyping. We experimented with several interactions of our chair with foam and cardboard. After narrowing down our iterations to one design direction we made a full-scale model from thin wood. With this model, we tested the user experience of putting it together, taking it apart, and actually sitting in it.</div>
      </div>
    </div>
    <div class="col-span-4 md:col-span-8 lg:col-start-7 lg:col-span-5">
      <img src="project-engram/public/images/9.jpg" alt="" class="rounded-2xl mb-3 w-full md:mb-6 reveal">
      <img src="project-engram/public/images/10.jpg" alt="" class="rounded-2xl mb-3 w-full md:mb-6 reveal">
      <img src="project-engram/public/images/11.jpg" alt="" class="rounded-2xl mb-3 w-full md:mb-6 reveal">
      <img src="project-engram/public/images/12.jpg" alt="" class="rounded-2xl mb-3 w-full md:mb-6 reveal">
      <img src="project-engram/public/images/13.jpg" alt="" class="rounded-2xl mb-3 w-full md:mb-6 reveal">
    </div>
    <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 lg:h-full reveal">
        <div class="sticky top-8">
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-4 mb-4 md:mb-8">From this model, we created a digital 3D model to scale. Then, we cut ¾ inch plywood down to roughly the dimensions of each piece of the chair. These pieces were then cut precisely with a CNC mill using the digital model. The slots were then filed and sanded down to fit exactly together.</div>
          </div>
        </div>
        <div class="col-span-4 md:col-span-8 lg:col-start-7 lg:col-span-5 reveal">
          <img src="project-engram/public/images/14.jpg" alt="" class="rounded-2xl mb-3 w-full md:mb-6">
          <img src="project-engram/public/images/15.jpg" alt="" class="rounded-2xl mb-3 w-full md:mb-6">
        </div>
    <div class="col-span-4 mt-14 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 reveal">
        <div class="text-hsm text-black dark:text-white">Why Engram</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">The term, “Engram” was brought into the art world by a German historian Aby Warburg. Warburg pushed the term to begin meaning a visual representation of a psychology of a time. His work was considered some of the first “visual studies” where all aspects of culture that is visible contains insights in the psychology behind it. Our chair is called The Engram Chair due to it being a visual representation of our design philosophies.</div>
        </div>
    <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-5 lg:mt-14 reveal">
        <div class="text-hsm text-black dark:text-white">Challenges</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light list-outside mt-2 mb-24">
            <li>Refining the philosophical statement of what connects the designing to the chair, and what the user needs to understand the chair.</li>
            <li>Integrating raw, natural, and repurposed materials into the design, ensuring a simplified assembly with minimum quantity of materials.</li>
            <li>Adhering to the integrity of the design and relationship between function, form, and experience.</li>
            <li>Finalizing the form of the chair, precision of craft, and simplification of assembly.</li>
        </div>
    </div>
  </div>
  <Footer Primary='Next Project' PrimaryLink='project-echo' Secondary={`Check Out the Playground`} SecondaryLink='playground'/>
</body>
</html>