---
// Component Imports
import '../styles/base.css';
import Head from '../components/Head.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="app.js"></script>
  <link rel="stylesheet" href="animations.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" type="image/x-icon" href="favicon.png">
  <title>Play</title>
</head>
<body class="bg-white dark:bg-black box-border overflow-x-clip">
    <Menu />
    <Navbar />
    <!--Project-->
    <div class="bg-[#FFD600] p-4 absolute top-[90%] right-[0%] flex flex-row gap-3 rounded-l-md items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
        <path d="M8.76631 0.717387C9.07761 -0.178173 10.3441 -0.178173 10.6554 0.717388L12.1786 5.0994C12.316 5.49447 12.6846 5.76234 13.1028 5.77086L17.741 5.86538C18.689 5.8847 19.0803 7.08924 18.3248 7.66205L14.628 10.4648C14.2947 10.7175 14.1538 11.1509 14.275 11.5512L15.6184 15.9917C15.8929 16.8992 14.8683 17.6436 14.09 17.1021L10.2821 14.4523C9.93874 14.2134 9.48301 14.2134 9.1397 14.4523L5.33173 17.1021C4.55349 17.6436 3.52884 16.8992 3.8034 15.9917L5.1468 11.5512C5.26791 11.1509 5.12708 10.7175 4.79379 10.4648L1.09694 7.66205C0.341403 7.08924 0.732784 5.8847 1.68071 5.86538L6.31894 5.77086C6.73711 5.76234 7.1058 5.49447 7.24313 5.0994L8.76631 0.717387Z" fill="white"/>
      </svg>
      <div class="text-llg tracking-widest mt-1">GOLD ADDY AWARD</div>
    </div>
    <img src="public/project-play/public/images/1.jpg" alt="" class="h-lvh w-full object-cover" transition:name="1">
    <div class="grid-cols-scale gap-x-5 p-3 pb-20 pt-9 md:px-8 md:pt-10">
          <div class="text-dsm text-black dark:text-white tracking-widest font-medium col-start-1 md:text-dmd lg:text-dlg lg:col-start-2 reveal">PLAY</div>
          <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono mt-2 mb-14 col-start-1 col-span-4 md:col-span-8 lg:col-start-2 lg:col-span-6 row-span-3 reveal">"Play" is a conceptual exhibition sponsored by für Gestaltung Zürich, designed for children to explore independently. The exhibition aims to highlight the universal nature of play that is rooted in modernist ideals. It features works by toy designers from Czechia, America, Switzerland, Netherlands, and Germany, all active between 1920 and 1970. The project showcases how Bauhaus and Modernist principles in toy design can transcend international boundaries, asserting that play is a universal language. To enhance the experience, age-specific field guides and an informative booklet for caregivers were created, embracing the Swiss international style. The exhibition's identity, utilizing basic shapes and the Akzidenz Grotesk typeface, provides a cohesive and recognizable experience across diverse cultures, aiming to offer insights into the interaction between design, children, and parental considerations.</div>
          <div class="text-bmd tracking-wide text-black dark:text-white font-mono mb-14 col-start-1 col-span-2 md:col-start-1 md:col-span-2 lg:col-start-9 lg:col-span-2 reveal">Skills Used:<div class="text-opacity-50 dark:text-opacity-50 mt-2 flex flex-col gap-2"><li>Project Management</li><li>Creative Direction</li><li>Book Design</li></div></div>
          <div class="text-bmd tracking-wide text-black dark:text-white font-mono mb-14 col-start-3 col-span-2 md:col-start-5 md:col-span-2 lg:col-start-11 lg:col-span-2 reveal">Tools Used:<div class="text-opacity-50 dark:text-opacity-50 mt-2 flex flex-col gap-2"><li>InDesign</li><li>Illustrator</li><li>Photoshop</li><li>Cinema 4D</li></div></div>
          <div class="text-bmd tracking-wide text-black dark:text-white font-mono mb-14 col-start-1 col-span-2 md:col-start-5 md:col-span-2 lg:col-start-9 lg:col-span-2 reveal">Awards:<div class="text-opacity-50 dark:text-opacity-50 mt-2 flex flex-col gap-2"><li class="leading-6">AMERICAN ADVERTISING AWARDS GREENVILLE 2024: Gold Addy <br> - Special Event Materials</li></div></div>
          <div class="text-bmd tracking-wide text-black dark:text-white font-mono mb-14 col-start-3 col-span-2 md:col-start-1 md:col-span-2 lg:col-start-11 lg:col-span-2 reveal">Collaborators:<div class="text-opacity-50 dark:text-opacity-50 mt-2 flex flex-col gap-2"><li>Ellie Gramm</li><li>Jackson Knight</li><li>Rebekah Smith</li></div></div>
          <video src="project-play/public/images/1.mp4" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal" autoplay loop muted playsinline playsinline data-object-fit="cover"></video>
          <img src="project-play/public/images/2.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal">
          <img src="project-play/public/images/3.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal">
          <img src="project-play/public/images/4.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal">
          <img src="project-play/public/images/5.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal">
          <img src="project-play/public/images/10.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-play/public/images/7.png" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-play/public/images/11.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-play/public/images/8.png" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-play/public/images/28.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-play/public/images/12.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-play/public/images/13.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-play/public/images/14.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal">
          <img src="project-play/public/images/15.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal">
          <img src="project-play/public/images/16.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal">
          <img src="project-play/public/images/17.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal">
          <img src="project-play/public/images/18.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-play/public/images/19.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-play/public/images/20.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-play/public/images/21.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-4 w-full reveal">
          <img src="project-play/public/images/22.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-6 lg:col-span-6 w-full reveal">
          <img src="project-play/public/images/23.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal">
          <img src="project-play/public/images/24.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal">
          <img src="project-play/public/images/25.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 mt-14 reveal">
            <div class="text-hsm text-black dark:text-white">Opportunity</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">We wanted to display the ways that Bauhaus and Modernist ideals within toys can be internationally implemented. Play is a universal language that is not bound by borders. Furthermore, we want to reveal the ways that design interacts with children and insight into parents a consideration of these facts.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-5 lg:mt-14 reveal">
            <div class="text-hsm text-black dark:text-white">Outcome</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">As a team, we created a children’s exhibition sponsored by für Gestaltung Zürich that displays a selection of works by toy designers who embodied reductive and foundational principles. All designers worked between the years of 1920 to 1970 and are from the countries of Czechia, America, Switzerland, Netherlands, or Germany. This exhibit is accompanied by guidebooks for children and an informative booklet for caregivers. In order to make an experience that is cohesive throughout cultures, the exhibit and guidebooks were designed with the Swiss international style.</div>
          </div>
          <img src="public/project-play/public/images/27.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-4 w-full reveal">
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-5 lg:mt-14 reveal">
            <div class="text-hsm text-black dark:text-white">Mark</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">The mark was inspired by the typefaces of Josepf Albers, specifically Architype Albers. The forms are simple, modular, and meant to mimic blocks that children play with. The corners are slightly rounded to create a softer expression. Another important aspect of the mark is that there are no concentric forms, which is important since it would need to be capable of being die-cut. The mark can also be deconstructed to create a variety of different patterns.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 mt-14 reveal">
            <div class="text-hsm text-black dark:text-white">Typeface</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">The typeface we chose for the exhibition is Akzidenz Grotesk. It was chosen for its simplicity, legibility, and modernist expression. It was important that all documents were extremely legible, but we still wanted to maintain a connection to the identity of für Gestaltung Zürich.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-5 lg:mt-14 reveal">
            <div class="text-hsm text-black dark:text-white">Color Palette</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">When tackling the color palette for the exhibition's identity we knew it had to be primary in essence to connect to ur message and forms but we still wanted it to stand out against the myriad of other children-focused identities. To solve this we started with the base colors of red, blue, and yellow, and began branching off of them. We then stepped back and analyzed our branches and created a harmonious collection of colors that were distinctive but still felt primary.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 mt-14 reveal">
            <div class="text-hsm text-black dark:text-white">Exhibit</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">The exhibit space was designed to promote exploration and self-education within the children and allow for careful examination from the caregivers. The floorplan is extremely open with the different sections of the exhibition following the edges of the space. In the center of the space is a circular seating area for the caregivers. Children are allowed to run free and explore on their own as guided by their booklet. The parents on the other hand are encouraged to sit and watch the children play as they read their booklet. The caregiver can read about the intention and design of each toy and then actually see its effects on the children in real-time.</div>
          </div>
          <img src="public/project-play/public/images/29.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-4 w-full reveal">
  </div>
</div>
<!--Footer-->
<Footer Primary='Next Project' PrimaryLink='/project-engram/' Secondary={`Check Out the <br/> Playground`} SecondaryLink='/playground/'/></div>
</body>
</html>