---
import '../styles/base.css';
import Head from '../components/Head.astro'
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro';
import Menu from '../components/Menu.astro';
import ResourceCard from "../components/ResourceCard.astro";
---

<html lang="en">
<head>
    <Head Title='Work'/>
    <script defer src="work/public/app.js"></script>
    <link rel="stylesheet" href="work/public/styles.css">
</head>
<Gtag/>
<body class="bg-white dark:bg-black box-border" transition:animate="none">
    <Navbar />
    <Menu />
</body>
</html>