---
// Component Imports
import Button from '../components/Button.astro';
import '../styles/base.css';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="public/app.js"></script>
    <script defer src="work/public/app.js"></script>
    <link rel="stylesheet" href="animations.css">
    <link rel="stylesheet" href="work/public/styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <title>Work</title>
</head>
<body class="bg-white dark:bg-black box-border">
    <!--NavBar-->
    <div class="absolute z-1 grid-cols-scale px-3 py-4 md:px-8 md:py-8 w-full box-border" id="navbar">
        <a href="index" class="col-span-1 mb-1 self-center"><div class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <path d="M14.3673 0H3.61693C1.61938 0 0 1.6756 0 3.74249C0 5.80938 1.61938 7.48498 3.61693 7.48498H9.1428C12.5831 7.48498 15.372 4.59931 15.372 1.03958C15.372 0.46542 14.9221 0 14.3673 0Z" class="fill-black dark:fill-white"/>
                    <path d="M9.1428 8.72827H3.61693C1.61938 8.72827 0 10.4039 0 12.4708C0 14.5377 1.61938 16.2133 3.61693 16.2133H14.3673C14.9221 16.2133 15.372 15.7478 15.372 15.1737C15.372 11.6139 12.5831 8.72827 9.1428 8.72827Z" class="fill-black dark:fill-white"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                    <path d="M1.63275 0C1.07786 0 0.628052 0.46542 0.628052 1.03958V12.8729C0.628052 14.9398 2.24743 16.6154 4.24498 16.6154C6.24253 16.6154 7.86191 14.9398 7.86191 12.8729V6.4454C7.86191 2.88567 5.07306 0 1.63275 0Z" class="fill-black dark:fill-white"/>
                    <path d="M15.2936 0C11.8532 0 9.06439 2.88567 9.06439 6.4454V12.8729C9.06439 14.9398 10.6838 16.6154 12.6813 16.6154C14.6789 16.6154 16.2983 14.9398 16.2983 12.8729V1.03958C16.2983 0.46542 15.8484 0 15.2936 0Z" class="fill-black dark:fill-white"/>
                </svg>
            </div></a>
            <a href="work" class="nav-but col-start-2 hidden lg:block self-center"><div class="text-black dark:text-white txt-blg font-mono w-fit und-ef">Work</div></a>
            <a href="about" class="nav-but col-start-5 hidden lg:block self-center"><div class="text-black dark:text-white txt-blg font-mono w-fit und-ef">About</div></a>
            <a href="resources" class="nav-but col-start-8 hidden lg:block self-center"><div class="text-black dark:text-white txt-blg font-mono w-fit und-ef">Resources</div></a>
            <a href="playground" class="nav-but col-start-11 hidden lg:block self-center"><div class="text-black dark:text-white txt-blg font-mono w-fit und-ef">Playground</div></a> 
            <a href="javascript:void(0);" class="icon self-center lg:hidden col-start-12 flex flex-row" onclick="openNav()">
                <i class="hamburger" id=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect y="2.26416" width="24" height="3.16981" class="fill-black dark:fill-white mix-blend-exclusion"/>
                    <rect y="17.6604" width="24" height="3.16981" class="fill-black dark:fill-white mix-blend-exclusion"/>
                    <rect x="1.81133" y="9.96225" width="22.1887" height="3.16981" class="fill-black dark:fill-white mix-blend-exclusion"/>
                  </svg></i>
            </a>
        </div>
        <!--Menu-->
        <div class="menu grid-cols-scale px-3 py-4 md:px-8 md:py-8 bg-black dark:bg-white w-full h-dvh" id="menu">
            <a href="javascript:void(0);" class="col-start-4 md:col-start-8 lg:col-start-12 justify-self-end" onclick="closeNav()">
                <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect x="19.4717" y="2.26416" width="3.16981" height="24" transform="rotate(45 19.4717 2.26416)" class="dark:fill-black fill-white"/>
                    <rect x="21.7358" y="19.2347" width="3.16981" height="24" transform="rotate(135 21.7358 19.2347)" class="dark:fill-black fill-white"/>
                  </svg></i>
                </a>
            <div class="text-white dark:text-black opacity-50 text-lsm md:text-lmd lg:text-llg mt-16 md:mt-28 lg:mt-0 col-start-2">Navigation</div>
            <div class="pt-10 flex flex-row gap-3 items-center col-start-2 md:col-start-2 col-span-4 md:col-span-7 lg:col-span-11 lg:col-start-2">
                <div class="text-white dark:text-black font-medium text-hsm md:text-hmd lg:text-dlg"><a href="work">WORK</a></div>
                <div class="w-full border-y-white dark:border-y-black border-t-[0.25px] pb-1"></div>
            </div>
            <div class="pt-10 flex flex-row gap-3 items-center col-start-2 md:col-start-2 col-span-4 md:col-span-7 lg:col-span-11 lg:col-start-2">
                <div class="text-white dark:text-black font-medium text-hsm md:text-hmd lg:text-dlg"><a href="about">ABOUT</a></div>
                <div class="w-full border-y-white dark:border-y-black border-t-[0.25px] pb-1"></div>
            </div>
            <div class="pt-10 flex flex-row gap-3 items-center col-start-2 md:col-start-2 col-span-4 md:col-span-7 lg:col-span-11 lg:col-start-2">
                <div class="text-white dark:text-black font-medium text-hsm md:text-hmd lg:text-dlg"><a href="resources">RESOURCES</a></div>
                <div class="w-full border-y-white dark:border-y-black border-t-[0.25px] pb-1"></div>
            </div>
            <div class="pt-10 flex flex-row gap-3 items-center col-start-2 md:col-start-2 col-span-4 md:col-span-7 lg:col-span-11 lg:col-start-2">
                <div class="text-white dark:text-black font-medium text-hsm md:text-hmd lg:text-dlg"><a href="playground">PLAYGROUND</a></div>
                <div class="w-full border-y-white dark:border-y-black border-t-[0.25px] pb-1"></div>
            </div>
            <div class="h-full col-span-4 min-h-1"></div>
            <div class="text-white dark:text-black opacity-50 text-lsm md:text-lmd lg:text-llg mt-24 lg:mt-3 col-start-2">Social</div>
            <div class="mt-5 col-start-2 flex flex-col lg:flex-row gap-5 lg:col-start-2 lg:col-span-10 lg:justify-between">
                <div class="text-white dark:text-black font-mono text-bsm md:text-blg"><a href="https://www.are.na/ethan-wright" target="_blank" rel="noopener noreferrer">Are.na</a></div>
                <div class="text-white dark:text-black font-mono text-bsm md:text-blg"><a href="https://www.behance.net/theethanwright" target="_blank" rel="noopener noreferrer">Behance</a></div>
                <div class="text-white dark:text-black font-mono text-bsm md:text-blg"><a href="https://dribbble.com/Theethanwright" target="_blank" rel="noopener noreferrer">Dribble</a></div>
                <div class="text-white dark:text-black font-mono text-bsm md:text-blg"><a href="https://www.instagram.com/theethanwright/" target="_blank" rel="noopener noreferrer">Instagram</a></div>
                <div class="text-white dark:text-black font-mono text-bsm md:text-blg"><a href="https://www.linkedin.com/in/ethan-wright-76751321a/" target="_blank" rel="noopener noreferrer">LinkedIn</a></div>
            </div>
        </div>
        <!--Project Container-->
        <div class="h-screen overflow-y-scroll snap-y snap-mandatory">
    <div class="snap-start grid-cols-scale grid-rows-[min-content_min-content_auto] p-3 pt-20 h-screen md:px-8 lg:pt-40 lg:grid-rows-[min-content_auto]">
        <div class="text-dsm text-black dark:text-white font-medium tracking-widest col-start-1 mb-5 md:text-dmd md:col-span-8 lg:text-dlg lg:col-start-1 lg:col-span-5 lg:leading-[4.75rem] lg:self-end">PLAY</div>
        <div class="col-start-1 col-span-2 mb-5 flex flex-col gap-8 md:col-span-6 md:flex-row md:justify-between md:mb-4 lg:col-start-8 lg:col-span-4 lg:self-end">
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Subject:</b><br>Event Branding</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Role:</b><br>Creative Director</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Timeline:</b><br>6 Weeks</div>
    </div>
        <a href="javascript:delay('project-play')" class="preview_img_link rounded-2xl h-full overflow-hidden col-span-4 md:col-span-8 lg:col-span-12 lg:h-full" id="0">
            <img src="work/public/images/3.jpg" alt="" class="preview_img object-cover w-full h-full hover:scale-125 transition-transform duration-500 ease-in-out">
        </a>
    </div>
    <div class="snap-start grid-cols-scale grid-rows-[min-content_min-content_auto] p-3 pt-20 h-screen md:px-8 lg:pt-40 lg:grid-rows-[min-content_auto]">
        <div class="text-dsm text-black dark:text-white font-medium col-start-1 mb-5 md:text-dmd md:col-span-8 lg:text-dlg lg:col-start-1 lg:col-span-5 lg:leading-[4.75rem] lg:self-end">ENGRAM</div>
        <div class="col-start-1 col-span-2 mb-5 flex flex-col gap-8 md:col-span-6 md:flex-row md:justify-between md:mb-4 lg:col-start-8 lg:col-span-4 lg:self-end">
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Subject:</b><br>Furniture</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Role:</b><br>Creative Director</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Timeline:</b><br>3 Weeks</div>
        </div>
        <a href="javascript:delay('project-engram')" class="preview_img_link rounded-2xl h-[90wh] overflow-hidden col-span-4 md:col-span-8 lg:col-span-12 lg:h-full" id="1">
            <img src="work/public/images/1.jpg" alt="" class="object-cover w-full h-full hover:scale-125 transition-transform duration-500 ease-in-out">
        </a>
    </div>
    <div class="snap-start grid-cols-scale grid-rows-[min-content_min-content_auto] p-3 pt-20 h-screen md:px-8 lg:pt-40 lg:grid-rows-[min-content_auto]">
        <div class="text-dsm text-black dark:text-white font-medium col-start-1 mb-5 md:text-dmd md:col-span-8 lg:text-dlg lg:col-start-1 lg:col-span-5 lg:leading-[4.75rem] lg:self-end">ECHO</div>
        <div class="col-start-1 col-span-2 mb-5 flex flex-col gap-8 md:col-span-6 md:flex-row md:justify-between md:mb-4 lg:col-start-8 lg:col-span-4 lg:self-end">
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Subject:</b><br>Social Impact</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Role:</b><br>Creative Director</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Timeline:</b><br>5 Weeks</div>
        </div>
        <a href="javascript:delay('project-echo')" class="preview_img_link rounded-2xl h-full overflow-hidden col-span-4 md:col-span-8 lg:col-span-12 lg:h-full" id="2">
            <img src="work/public/images/2.jpg" alt="" class="preview_img object-cover w-full h-full hover:scale-125 transition-transform duration-500 ease-in-out">
        </a>
    </div>
    
    <div class="snap-start grid-cols-scale grid-rows-[min-content_min-content_auto] p-3 pt-20 h-screen md:px-8 lg:pt-40 lg:grid-rows-[min-content_auto]">
        <div class="text-dsm text-black dark:text-white font-medium col-start-1 mb-5 md:text-dmd md:col-span-8 lg:text-dlg lg:col-start-1 lg:col-span-5 lg:leading-[4.75rem] lg:self-end">NOTION</div>
        <div class="col-start-1 col-span-2 mb-5 flex flex-col gap-8 md:col-span-6 md:flex-row md:justify-between md:mb-4 lg:col-start-8 lg:col-span-4 lg:self-end">
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Subject:</b><br>Mobile App</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Role:</b><br>Designer</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Timeline:</b><br>5 Weeks</div>
        </div>
        <a href="javascript:delay('project-notion')" class="preview_img_link rounded-2xl h-full overflow-hidden col-span-4 md:col-span-8 lg:col-span-12 lg:h-full" id="3">
            <img src="work/public/images/4.jpg" alt="" class="preview_img object-cover w-full h-full hover:scale-125 transition-transform duration-500 ease-in-out">
        </a>
    </div>
    <div class="snap-start grid-cols-scale grid-rows-[min-content_min-content_auto] p-3 pt-20 mb-28 h-svh md:px-8 lg:pt-40 lg:grid-rows-[min-content_auto]">
        <div class="text-dsm text-black dark:text-white font-medium col-start-1 mb-5 md:text-dmd md:col-span-8 lg:text-dlg lg:col-start-1 lg:col-span-5 lg:leading-[4.75rem] lg:self-end">OFFHAND</div>
        <div class="col-start-1 col-span-2 mb-5 flex flex-col gap-8 md:col-span-6 md:flex-row md:justify-between md:mb-4 lg:col-start-8 lg:col-span-4 lg:self-end">
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Subject:</b><br>Playing Cards</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Role:</b><br>Designer</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Timeline:</b><br>4 Weeks</div>
        </div>
        <a href="javascript:delay('project-offhand')" class="preview_img_link rounded-2xl h-full overflow-hidden col-span-4 md:col-span-8 lg:col-span-12 lg:h-full">
            <img src="work/public/images/5.jpg" alt="" class="preview_img object-cover w-full h-full hover:scale-125 transition-transform duration-500 ease-in-out" id="4">
        </a>
    </div>
    <!--Footer-->
    <div class="snap-start relative z-10 grid-cols-scale h-dvh bg-black dark:bg-white footer p-3 pt-7 lg:p-6 lg:pt-9 rounded-2xl">
        <div class="rotate-180 col-start-4 self-baseline justify-self-center md:col-start-1 md:row-start-1 md:justify-self-center md:rotate-0 lg:justify-self-start">
            <a href="about"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                <path d="M11.8963 22.1978L2.82083 13.1223M2.82083 13.1223L11.8963 4.04687M2.82083 13.1223L23.6699 13.1223" class="stroke-white dark:stroke-black" stroke-width="3"/>
              </svg></a>
        </div>
        <div class="text-hmd text-white dark:text-black font-medium tracking-wider col-start-1 col-span-2 row-start-1 self-baseline md:col-end-8 md:row-start-1 md:text-right lg:col-end-12"><a href="about">About Me</a></div>
        <div class="text-hmd text-white dark:text-black font-medium tracking-wider col-start-1 col-span-3 self-baseline md:col-start-2 md:row-start-1"><a href="playground">Check Out the <br>Playground</a></div>
        <div class=" col-start-4 self-baseline justify-self-center mt-10 md:col-start-8 md:row-start-1 md:justify-self-center md:m-0 lg:col-start-12 lg:justify-self-end">
            <a href="playground"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                <path d="M14.1039 3.80218L23.1794 12.8777M23.1794 12.8777L14.1039 21.9531M23.1794 12.8777L2.33035 12.8777" class="stroke-white dark:stroke-black" stroke-width="3"/>
              </svg></a>
        </div>
        <div class="text-white dark:text-black font-sans text-fsm font-medium col-start-1 col-span-4 pt-20 self-end md:text-fmd md:col-start-2 md:col-span-6 lg:text-flg lg:pt-24">
          LET’S<br>CONNECT
      </div>
      <a href="mailto:theethanwright@gmail.com" class="text-black dark:text-white self-start justify-self-start box-content btn-primary tracking-wider hover:scale-110 transition-transform duration-120 ease-out col-start-1 mt-3 md:col-start-2">Contact</a>
          <div class="flex flex-row gap-5 md:justify-between col-start-1 self-start justify-self-stretch pt-10 md:pt-24 md:col-start-2 lg:col-start-2 col-span-4 md:col-span-6 lg:col-span-10 lg:pt-10">
                  <div class="text-white dark:text-black text-opacity-75 dark:text-opacity-75 font-mono text-bsm md:text-blg"><a href="https://www.are.na/ethan-wright" target="_blank" rel="noopener noreferrer">Are.na</a></div>
                  <div class="text-white dark:text-black text-opacity-75 dark:text-opacity-75 font-mono text-bsm md:text-blg"><a href="https://www.behance.net/theethanwright" target="_blank" rel="noopener noreferrer">Behance</a></div>
                  <div class="text-white dark:text-black text-opacity-75 dark:text-opacity-75 font-mono text-bsm md:text-blg"><a href="https://dribbble.com/Theethanwright" target="_blank" rel="noopener noreferrer">Dribble</a></div>
                  <div class="text-white dark:text-black text-opacity-75 dark:text-opacity-75 font-mono text-bsm md:text-blg"><a href="https://www.instagram.com/theethanwright/" target="_blank" rel="noopener noreferrer">Instagram</a></div>
                  <div class="text-white dark:text-black text-opacity-75 dark:text-opacity-75 font-mono text-bsm md:text-blg"><a href="https://www.linkedin.com/in/ethan-wright-76751321a/" target="_blank" rel="noopener noreferrer">LinkedIn</a></div>
          </div>
      <div class="text-white dark:text-black text-opacity-50 dark:text-opacity-50 font-mono text-bmd col-start-1 col-span-3 self-end">Typefaces: <a href="https://fonts.google.com/specimen/IBM+Plex+Mono" target="_blank" rel="noopener noreferrer">IBM Plex Mono</a>, <a href="https://www.behance.net/gallery/168183377/NOHEMI-Typeface-Free-Variable-9-Styles?locale=en_US&log_shim_removal=1" target="_blank" rel="noopener noreferrer">Nohemi</a></div>
      <div class="text-white dark:text-black text-opacity-50 dark:text-opacity-50 font-mono text-bmd col-start-4 md:col-start-8 lg:col-start-11 col-span-3 self-end justify-self-end">© 2024</div>
    </div>
</div>
</body>
</html>
