---
// Component Imports
import '../styles/base.css';
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import ProjectContainer from '../components/ProjectContainer.astro'
import Footer from '../components/Footer.astro'
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="app.js"></script>
    <script defer src="public/app.js"></script>
    <link rel="stylesheet" href="animations.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <meta property="og:image" content="/share_img.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <title>Work</title>
</head>
<body class="bg-white dark:bg-black box-border">
    <Navbar />
    <Menu />
    <div class="h-screen overflow-y-scroll snap-y snap-mandatory">
        <ProjectContainer Title='PLAY' Subject='Event Branding' Role='Creative Director' Timeline='6 Weeks' Preview='work/public/images/3.jpg' Link='/project-play/'/>
        <ProjectContainer Title='ENGRAM' Subject='Furniture' Role='Creative Director' Timeline='3 Weeks' Preview='work/public/images/1.jpg' Link='/project-engram/'/>
        <ProjectContainer Title='ECHO' Subject='Social Impact' Role='Creative Director' Timeline='5 Weeks' Preview='work/public/images/2.jpg' Link='/project-echo/'/>
        <ProjectContainer Title='NOTION' Subject='Mobile App' Role='Designer' Timeline='5 Weeks' Preview='work/public/images/4.jpg' Link='project-notion'/>
        <ProjectContainer Title='OFFHAND' Subject='Playing Cards' Role='Designer' Timeline='4 Weeks' Preview='work/public/images/5.jpg' Link='project-offhand'/>
    <!--Footer-->
    <div class="snap-start"><Footer Primary='About Me' PrimaryLink='/about/' Secondary={`Check Out the <br/> Playground`} SecondaryLink='/playground/'/></div>
</div>
</body>
</html>