---
// Component Imports
import '../styles/base.css';
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import ProjectContainer from '../components/ProjectContainer.astro'
import Footer from '../components/Footer.astro'
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="app.js"></script>
    <script defer src="work/public/app.js"></script>
    <link rel="stylesheet" href="public/animations.css">
    <link rel="stylesheet" href="public/styles.css">
    <link rel="stylesheet" href="public/work/public/styles.css">
    <link rel="icon" type="image/x-icon" href="public/favicon.png">
    <meta property="og:image" content="/share_img.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <title>Work</title>
</head>
<body class="bg-white dark:bg-black box-border">
    <Navbar />
    <Menu />
    <div class="h-screen overflow-y-scroll snap-y snap-mandatory">
        <ProjectContainer Subject='Event Branding' Role='Creative Director' Timeline='6 Weeks' Preview='work/public/images/3.jpg'/>
    <div class="snap-start grid-cols-scale grid-rows-[min-content_min-content_auto] p-3 pt-20 h-screen md:px-8 lg:pt-40 lg:grid-rows-[min-content_auto]">
        <div class="text-dsm text-black dark:text-white font-medium col-start-1 mb-5 md:text-dmd md:col-span-8 lg:text-dlg lg:col-start-1 lg:col-span-5 lg:leading-[4.75rem] lg:self-end">ENGRAM</div>
        <div class="col-start-1 col-span-2 mb-5 flex flex-col gap-8 md:col-span-6 md:flex-row md:justify-between md:mb-4 lg:col-start-8 lg:col-span-4 lg:self-end">
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Subject:</b><br>Furniture</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Role:</b><br>Creative Director</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Timeline:</b><br>3 Weeks</div>
        </div>
        <a href="javascript:delay('project-engram')" class="preview_img_link rounded-2xl h-[90wh] overflow-hidden col-span-4 md:col-span-8 lg:col-span-12 lg:h-full" id="1">
            <img src="public/work/public/images/1.jpg" alt="" class="object-cover w-full h-full hover:scale-125 transition-transform duration-500 ease-in-out">
        </a>
    </div>
    <div class="snap-start grid-cols-scale grid-rows-[min-content_min-content_auto] p-3 pt-20 h-screen md:px-8 lg:pt-40 lg:grid-rows-[min-content_auto]">
        <div class="text-dsm text-black dark:text-white font-medium col-start-1 mb-5 md:text-dmd md:col-span-8 lg:text-dlg lg:col-start-1 lg:col-span-5 lg:leading-[4.75rem] lg:self-end">ECHO</div>
        <div class="col-start-1 col-span-2 mb-5 flex flex-col gap-8 md:col-span-6 md:flex-row md:justify-between md:mb-4 lg:col-start-8 lg:col-span-4 lg:self-end">
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Subject:</b><br>Social Impact</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Role:</b><br>Creative Director</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Timeline:</b><br>5 Weeks</div>
        </div>
        <a href="javascript:delay('project-echo')" class="preview_img_link rounded-2xl h-full overflow-hidden col-span-4 md:col-span-8 lg:col-span-12 lg:h-full" id="2">
            <img src="public/work/public/images/2.jpg" alt="" class="preview_img object-cover w-full h-full hover:scale-125 transition-transform duration-500 ease-in-out">
        </a>
    </div>
    
    <div class="snap-start grid-cols-scale grid-rows-[min-content_min-content_auto] p-3 pt-20 h-screen md:px-8 lg:pt-40 lg:grid-rows-[min-content_auto]">
        <div class="text-dsm text-black dark:text-white font-medium col-start-1 mb-5 md:text-dmd md:col-span-8 lg:text-dlg lg:col-start-1 lg:col-span-5 lg:leading-[4.75rem] lg:self-end">NOTION</div>
        <div class="col-start-1 col-span-2 mb-5 flex flex-col gap-8 md:col-span-6 md:flex-row md:justify-between md:mb-4 lg:col-start-8 lg:col-span-4 lg:self-end">
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Subject:</b><br>Mobile App</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Role:</b><br>Designer</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Timeline:</b><br>5 Weeks</div>
        </div>
        <a href="javascript:delay('project-notion')" class="preview_img_link rounded-2xl h-full overflow-hidden col-span-4 md:col-span-8 lg:col-span-12 lg:h-full" id="3">
            <img src="public/work/public/images/4.jpg" alt="" class="preview_img object-cover w-full h-full hover:scale-125 transition-transform duration-500 ease-in-out">
        </a>
    </div>
    <div class="snap-start grid-cols-scale grid-rows-[min-content_min-content_auto] p-3 pt-20 mb-28 h-svh md:px-8 lg:pt-40 lg:grid-rows-[min-content_auto]">
        <div class="text-dsm text-black dark:text-white font-medium col-start-1 mb-5 md:text-dmd md:col-span-8 lg:text-dlg lg:col-start-1 lg:col-span-5 lg:leading-[4.75rem] lg:self-end">OFFHAND</div>
        <div class="col-start-1 col-span-2 mb-5 flex flex-col gap-8 md:col-span-6 md:flex-row md:justify-between md:mb-4 lg:col-start-8 lg:col-span-4 lg:self-end">
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Subject:</b><br>Playing Cards</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Role:</b><br>Designer</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"><b>Timeline:</b><br>4 Weeks</div>
        </div>
        <a href="javascript:delay('project-offhand')" class="preview_img_link rounded-2xl h-full overflow-hidden col-span-4 md:col-span-8 lg:col-span-12 lg:h-full">
            <img src="public/work/public/images/5.jpg" alt="" class="preview_img object-cover w-full h-full hover:scale-125 transition-transform duration-500 ease-in-out" id="4">
        </a>
    </div>
    <!--Footer-->
    <Footer Primary='About Me' PrimaryLink='/about/' Secondary='Check Out the <br>Playground' SecondaryLink='/playground/'/>
    <div class="snap-start relative z-10 grid-cols-scale h-dvh bg-black dark:bg-white footer p-3 pt-7 lg:p-6 lg:pt-9 rounded-2xl">
        <div class="rotate-180 col-start-4 self-baseline justify-self-center md:col-start-1 md:row-start-1 md:justify-self-center md:rotate-0 lg:justify-self-start">
            <a href="about"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                <path d="M11.8963 22.1978L2.82083 13.1223M2.82083 13.1223L11.8963 4.04687M2.82083 13.1223L23.6699 13.1223" class="stroke-white dark:stroke-black" stroke-width="3"/>
              </svg></a>
        </div>
        <div class="text-hmd text-white dark:text-black font-medium tracking-wider col-start-1 col-span-2 row-start-1 self-baseline md:col-end-8 md:row-start-1 md:text-right lg:col-end-12"><a href="about">About Me</a></div>
        <div class="text-hmd text-white dark:text-black font-medium tracking-wider col-start-1 col-span-3 self-baseline md:col-start-2 md:row-start-1"><a href="playground">Check Out the <br>Playground</a></div>
        <div class=" col-start-4 self-baseline justify-self-center mt-10 md:col-start-8 md:row-start-1 md:justify-self-center md:m-0 lg:col-start-12 lg:justify-self-end">
            <a href="playground"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                <path d="M14.1039 3.80218L23.1794 12.8777M23.1794 12.8777L14.1039 21.9531M23.1794 12.8777L2.33035 12.8777" class="stroke-white dark:stroke-black" stroke-width="3"/>
              </svg></a>
        </div>
        <div class="text-white dark:text-black font-sans text-fsm font-medium col-start-1 col-span-4 pt-20 self-end md:text-fmd md:col-start-2 md:col-span-6 lg:text-flg lg:pt-24">
          LET’S<br>CONNECT
      </div>
      <a href="mailto:theethanwright@gmail.com" class="text-black dark:text-white self-start justify-self-start box-content btn-primary tracking-wider hover:scale-110 transition-transform duration-120 ease-out col-start-1 mt-3 md:col-start-2">Contact</a>
          <div class="flex flex-row gap-5 md:justify-between col-start-1 self-start justify-self-stretch pt-10 md:pt-24 md:col-start-2 lg:col-start-2 col-span-4 md:col-span-6 lg:col-span-10 lg:pt-10">
                  <div class="text-white dark:text-black text-opacity-75 dark:text-opacity-75 font-mono text-bsm md:text-blg"><a href="https://www.are.na/ethan-wright" target="_blank" rel="noopener noreferrer">Are.na</a></div>
                  <div class="text-white dark:text-black text-opacity-75 dark:text-opacity-75 font-mono text-bsm md:text-blg"><a href="https://www.behance.net/theethanwright" target="_blank" rel="noopener noreferrer">Behance</a></div>
                  <div class="text-white dark:text-black text-opacity-75 dark:text-opacity-75 font-mono text-bsm md:text-blg"><a href="https://dribbble.com/Theethanwright" target="_blank" rel="noopener noreferrer">Dribble</a></div>
                  <div class="text-white dark:text-black text-opacity-75 dark:text-opacity-75 font-mono text-bsm md:text-blg"><a href="https://www.instagram.com/theethanwright/" target="_blank" rel="noopener noreferrer">Instagram</a></div>
                  <div class="text-white dark:text-black text-opacity-75 dark:text-opacity-75 font-mono text-bsm md:text-blg"><a href="https://www.linkedin.com/in/ethan-wright-76751321a/" target="_blank" rel="noopener noreferrer">LinkedIn</a></div>
          </div>
      <div class="text-white dark:text-black text-opacity-50 dark:text-opacity-50 font-mono text-bmd col-start-1 col-span-3 self-end">Typefaces: <a href="https://fonts.google.com/specimen/IBM+Plex+Mono" target="_blank" rel="noopener noreferrer">IBM Plex Mono</a>, <a href="https://www.behance.net/gallery/168183377/NOHEMI-Typeface-Free-Variable-9-Styles?locale=en_US&log_shim_removal=1" target="_blank" rel="noopener noreferrer">Nohemi</a></div>
      <div class="text-white dark:text-black text-opacity-50 dark:text-opacity-50 font-mono text-bmd col-start-4 md:col-start-8 lg:col-start-11 col-span-3 self-end justify-self-end">© 2024</div>
    </div>
</div>
</body>
</html>