@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: "Nohemi";
  src: url('/fonts/Nohemi-Thin.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: "Nohemi";
  src: url('/fonts/Nohemi-Extralight.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: "Nohemi";
  src: url('/fonts/Nohemi-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Nohemi";
  src: url('/fonts/Nohemi-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: "Nohemi";
  src: url('/fonts/Nohemi-SemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: "Nohemi";
  src: url('/fonts/Nohemi-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: "Nohemi";
  src: url('/fonts/Nohemi-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: "Nohemi";
  src: url('/fonts/Nohemi-Black.woff2') format('woff2');
  font-weight: 900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-white dark:bg-black px-5 py-2 rounded-full text-white font-mono text-blg tracking-widest
  }
  .btn-secondary {
    @apply bg-opacity-0 border-white dark:border-black border-2 px-5 py-2 rounded-full text-back font-mono text-blg tracking-widest
  }
  .grid-cols-scale {
    @apply w-full grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12
  }
  .body-copy {
    @apply text-blg text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-sans-ibm font-extralight tracking-wider
  }
  .headline {
    @apply text-dsm md:text-[clamp(50px,8vw,100px)] lg:text-[clamp(50px,3.911vw,70px)] leading-[70px] tracking-wide text-black dark:text-white font-sans font-medium 
  }
  .header {
    @apply text-hsm font-sans tracking-wide text-black dark:text-white
  }
  .header-info {
    @apply text-bsm leading-5 tracking-widest text-black dark:text-white text-opacity-50 dark:text-opacity-50 font-mono font-light
  }
  .body-info {
    @apply font-light
  }
  .title {
    @apply text-tsm md:text-tmd lg:text-tlg
  }
  .img-full {
    @apply rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full 
  }
  .img-left {
    @apply rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full 
  }
  .img-right {
    @apply rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full 
  }
  .block-full {
    @apply mt-14 col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-10 
  }
  .block-left {
    @apply mt-14 col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-5 lg:pr-10
  }
  .block-right {
    @apply mt-14 col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-5 lg:pl-3
  }
};