:root {
  color-scheme: light dark;
}

.und-ef {
    display: block;
    box-sizing: border-box;
}


.und-ef::after {
    content: "";
    display: block;
    background-color: light-dark(#101010, #fff);
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    transform-origin: bottom left;
    transition: ease-in-out 0.5s;
  }
  
  .und-ef:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
  }

.reveal {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50px);
    transition: 
        transform 1s ease-out,
        filter 1s ease-out,
        opacity 1s ease-out;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}

.footer-rad {
    border-radius: 40px 40px 0px 0px;
}

.logo {
    grid-column-start: 1;
    display: flex;
    width: 34px;
    height: 16px;
    justify-content: center;
    align-items: center;
    gap: 3.256px;
  }

  .rounded-scroll {
    border-top-left-radius: calc(max(40vw - max(40vw * var(--visiblePct))));
    border-top-right-radius: calc(max(40vw - max(40vw * var(--visiblePct))));
  }

  .footer-animation-text {
    transform: translateY(calc(max(10vh - max(10vh * var(--visiblePct)))));
    opacity: calc(max(100% * var(--visiblePct)));
  }

  .footer-animation-arrows {
    transform: translateY(calc(max(20vh - max(20vh * var(--visiblePct)))));
    opacity: calc(max(100% * var(--visiblePct)));
  }
  
  .height {
    height: calc(max(var(--viewportHeight) * 1px));
  }

  .pimg {
    transform: scaleX(1);
    transition-property: position;
    transition: 0.5s;
  }

  /* Menu */

  .menu {
    position: fixed;
    z-index: 41;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100lvh;
    transform: translateX(100%);
    transform-origin: top right;
    overflow-x: hidden;
    border-radius: 30% 0 0 30%;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), border-radius 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu.open {
    transform: translateX(0);
    border-radius: 0;
}

.menu .menu-item {
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu.open .menu-item {
    opacity: 1;
    transform: translateX(0);
}

/* Staggered animation */
.menu .menu-item:nth-child(1) {
    transition-delay: 0.1s;
}
.menu .menu-item:nth-child(2) {
    transition-delay: 0.15s;
}
.menu .menu-item:nth-child(3) {
    transition-delay: 0.2s;
}
.menu .menu-item:nth-child(4) {
    transition-delay: 0.25s;
}
.menu .menu-item:nth-child(5) {
    transition-delay: 0.3s;
}
.menu .menu-item:nth-child(6) {
    transition-delay: 0.35s;
}
.menu .menu-item:nth-child(8) {
    transition-delay: 0.4s;
}
.menu .menu-item:nth-child(9) {
    transition-delay: 0.45s;
}