:root {
  color-scheme: light dark;
}

.und-ef {
    display: block;
    box-sizing: border-box;
}


.und-ef::after {
    content: "";
    display: block;
    background-color: light-dark(#101010, #fff);
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    transform-origin: bottom left;
    transition: ease-in-out 0.5s;
  }
  
  .und-ef:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
  }

.reveal {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50px);
    transition: 
        transform 1s ease-out,
        filter 1s ease-out,
        opacity 1s ease-out;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}

.footer-rad {
    border-radius: 40px 40px 0px 0px;
}

.logo {
    grid-column-start: 1;
    display: flex;
    width: 34px;
    height: 16px;
    justify-content: center;
    align-items: center;
    gap: 3.256px;
  }

  .rounded-scroll {
    border-top-left-radius: calc((max(var(--scroll) - var(--footerHeight)) * 240px / 100 + 0px));
    border-top-right-radius: calc((max(var(--scroll) - var(--footerHeight)) * 240px / 100 + 0px));
  }
  
  .height {
    height: calc(max(var(--viewportHeight) * 1px));
  }

  .pimg {
    transform: scaleX(1);
    transition-property: position;
    transition: 0.5s;
  }