---
// Component Imports
import '../styles/base.css';
import Head from '../components/Head.astro'
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro';
import Menu from '../components/Menu.astro';
---

<html lang="en">
<head>
    <Head Title='Ethan Wright - Designer'/>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.6.4/tween.umd.js"></script>
    <script defer src="https://unpkg.com/three@0.128.0/examples/js/shaders/CopyShader.js"></script>
    <script defer src="https://unpkg.com/three@0.128.0/examples/js/postprocessing/EffectComposer.js"></script>
    <script defer src="https://unpkg.com/three@0.128.0/examples/js/postprocessing/RenderPass.js"></script>
    <script defer src="https://unpkg.com/three@0.128.0/examples/js/postprocessing/ShaderPass.js"></script>
    <script defer src="home/app.js"></script>
    <link rel="stylesheet" href="home/styles.css">
</head>
<Gtag/>
<body class="bg-white dark:bg-black overflow-hidden">
    <Menu />
    <Navbar />
    <div id="container"></div>
    <div class="intro text-blg tracking-wide text-black dark:text-white text-opacity-85 font-mono">Hey! My name is Ethan Wright and I’m a designer and creative.</div>
    <div class="fun-fact text-blg tracking-wide text-black dark:text-white text-opacity-85 font-mono hidden md:block">Designed and built <br>by me.</div>
</body>
</html>