---
// Component Imports
import '../styles/base.css';
import Head from '../components/Head.astro'
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'
import ProjectHeader from '../components/ProjectHeader.astro'

---

<html lang="en">
<head>
  <Head Title='Notion'/>
</head>
<Gtag/>
<body class="bg-primary box-border overflow-x-clip">
  <Navbar />
  <Menu />
    <img src="project-notion/public/images/1.jpg" alt="" class="h-lvh w-full object-cover">
    <div class="grid-cols-scale gap-x-5 p-3 pt-9 md:px-8 md:pt-10">
      <ProjectHeader 
                  Title='NOTION' 
      Visible1=`` Info1='Interface Design, Experience Design'
      Visible2=`` Info2='Figma, Photoshop'
      Visible3=`hidden` Info3=''
      Visible4=`hidden` Info4=''
                  Body=`This project aims to create a customizable app for education, catering to various learning styles. The app offers three learning methods (reading, watching, doing) to accommodate different learning styles. It incorporates a friendly interface with soft aesthetics and calming colors. Testing methods align with each learning style, ensuring comprehensive understanding. The app aims to make learning enjoyable and accessible, empowering students to embrace education in their preferred way.`
      />  
          <img src="project-notion/public/images/1.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:mt-32 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-notion/public/images/2.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-notion/public/images/3.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-notion/public/images/4.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-notion/public/images/5.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-10 mt-14 reveal">
            <div class="header">Brief</div>
            <div class="body-copy font-light mt-2 mb-14">What if there was a way people could choose how they learn? Learning is a part of everyday life. It is impossible to escape it, but often people form a contempt for learning. This is a result of their experiences with learning in academic settings. Different people learn in different ways but, schools tend to teach using only methods that favor the majority. This leaves the minority lost and with a disdain for education. We must find a way to make instruction conform to the student rather than the student to the instruction.<br><br>
                One way of accomplishing this is through the creation of an educational app. This will allow students to gain a new love for learning. It will help students to learn in a way that fits them rather than having to endure a standard method of education. It will unlock a fountain of knowledge that, for many, was once a tremendous struggle to obtain.<br><br>
                The process must involve ideating, prototyping, testing, and designing a Single Function Mobile App. The audience will be the universal “College Students.” The app must be well defined with clear answers to what the app is, what it does, and what its “special sauce” is. The process will work through the digital product process, testing and iterating throughout. The functionality must be simple and direct.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-5 lg:mt-14 reveal">
            <div class="header">Main Goal</div>
            <div class="body-copy font-light mt-2 mb-14">This app must allow students, ages 18 to 22, to quickly learn complex concepts in their preferred method of instruction every day. In order to do this it needs to be intuitive and effortlessly comprehensible. It must be aesthetically friendly and inviting. Tasks have to feel exciting and rewarding rather than intense and academic.</div>
          </div>
    <div class="col-span-4 mt-14 md:col-start-2 md:col-span-6 lg:col-start-8 lg:col-span-4 reveal">
        <div class="header">20 Concepts</div>
        <div class="body-copy font-light mt-2 mb-14">The process began by devising 20 what if concepts to ideate potential app ideas.</div>
        </div>
        <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-5 lg:mt-14 reveal">
            <div class="header">Research</div>
            <div class="body-copy font-light mt-2 mb-14">Research
                After deciding on a concept I began collecting examples of user experiences in my everyday life to inform my app. <br><br>
                
                After researching UX examples in my every day life I started researching other educational apps and collecting and compiling examples of their user interfaces. <br><br>
                
                Lofi Prototype R1<br>
                After researching I created a lofi prototype of my app interface and user flow. The prototype was made only from simple construction paper and glue.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-8 lg:col-span-4 lg:mt-14 reveal">
            <div class="header">Testing</div>
            <div class="body-copy font-light mt-2 mb-14">
                After creating the lofi prototype I began testing it on various users with a specific task list. This allowed me to better understand the users and how they interacted with the interface.
                <br><br>Task list:
                <li>Start Lesson</li>
                <li>Select Method of Instruction</li>
                <li>Read</li>
                <li>Turn on reader</li>
                <li>Scroll</li>
                <li>Take Quiz</li>
                <li>Watch</li>
                <li>Pause</li>
                <li>Skip Ahead</li>
                <li>Take Quiz</li>
                <li>DoIt</li>
                <li>Change Values</li>
                <li>Take Quiz</li>
                <li>Select Answer</li>
                <li>Submit Answer</li>
                <br>
                Notes from testing:
                <li>Input boxes on the Do It screen were not obvious to the user</li>
                <li>People did not click on the input boxes on the Do It screen</li>
                <li>Keyboard should pop up automatically when a user reaches the Do It screen</li>
                <li>The majority of users selected the Do It screen.</li>
                <li>Setting buttons for playback were too small on the Watch screen</li>
                <li>The method of skipping was not obvious to the user on the Watch screen</li>
                <li>The reader button was very clear to the user on the Read screen</li>
            </div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-5 lg:mt-14 reveal">
            <div class="header">Lofi Prototype R2</div>
            <div class="body-copy font-light mt-2 mb-14">After testing I took the feedback I received and made a second revision of the prototype with changes based on the feedback.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-8 lg:col-span-4 lg:mt-14 reveal">
            <div class="header">Testing</div>
            <div class="body-copy font-light mt-2 mb-14">
                After creating the second revision I began testing it and taking note of how the users interacted with it as they followed a set task list.
                Task List:
                <li>Start Lesson</li>
                <li>Select Method of Instruction</li>
                <li>Read</li>
                <li>Turn on reader</li>
                <li>Scroll</li>
                <li>Take Quiz</li>
                <li>Watch</li>
                <li>Pause</li>
                <li>Skip Ahead</li>
                <li>Take Quiz</li>
                <li>DoIt</li>
                <li>Change Values</li>
                <li>Take Quiz</li>
                <li>Select Answer</li>
                <li>Submit Answer</li>
                <br>
                Notes from testing:
                <li>User hesitated when choosing method of instruction</li>
                <li>User found controls on the right-hand side of the Watch page easy to use</li>
                <li>Controls on the right-hand may be more difficult for left-handed people</li>
                <li>User pressed the play button to skip</li>
                <li>User thought having the next button on the instruction selection page to be more helpful</li>
                <li>User understood the Do It page better than previous revision</li>
                <li>User clicked the circle rather than pinching to change size of circle on the Do It page</li>
                <li>Users seemed to better understand the options on the Watch page better than previous revision</li>
            </div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-5 lg:mt-14 grid grid-cols-5">
          <div class="col-span-5 col-start-1 reveal">
            <div class="header">Style Tile R1</div>
            <div class="body-copy font-light mt-2 mb-14">After testing the second revision of the lofi prototype began designing a style tile that would inform both aesthetics and the system of my app.</div>
          </div>
          <div class="col-span-5 col-start-1 lg:mt-14 reveal">
            <div class="header">Style Tile R2</div>
            <div class="body-copy font-light mt-2 mb-14">My fellow students then critiqued my style tile. From this feedback I created a second revised style tile.</div>
          </div>
          <div class="col-span-5 col-start-1 lg:mt-14 reveal">
            <div class="header">Hifi Prototype R3</div>
            <div class="body-copy font-light mt-2 mb-14">After Testing the second revision of the app prototype I made final changes to the prototype based on the testing.</div>
          </div>
        </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-8 lg:col-span-4 lg:mt-14 reveal">
            <div class="header">Hifi Prototype R1</div>
            <div class="body-copy font-light mt-2 mb-14">
                Using my revised style tile I created a hifi prototype of the user flow and interface in Figma. This prototype is also where I began fleshing out various system elements. I then tested the app and collected notes on how the user interacted with the prototype.
                Task List:
                <li>Start Lesson</li>
                <li>Select Method of Instruction</li>
                <li>Read</li>
                <li>Turn on reader</li>
                <li>Scroll</li>
                <li>Take Quiz</li>
                <li>Watch</li>
                <li>Pause</li>
                <li>Skip Ahead</li>
                <li>Take Quiz</li>
                <li>DoIt</li>
                <li>Change Values</li>
                <li>Take Quiz</li>
                <br>
                Notes:
                <li>Users attempted to click on calender</li>
                <li>Users hesitated when picking method of instruction</li>
                <li>Users accidentally closed app when swiping up to start lesson</li>
                <li>User thought well done screen lasted too long</li>
                <li>Audio controls cover “take quiz“ button on the read screen</li>
            </div>
          </div>
  </div>
</div>
<Footer Primary='Next Project' PrimaryLink='project-offhand' Secondary='Check Out the Playground' SecondaryLink='playground'/>
</body>
</html>