---
// Component Imports
import '../styles/base.css';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'
import ProjectHeader from '../components/ProjectHeader.astro'

const seo = {
  title: 'Echo',
  description: `In this project, a team of 15 students undertook a three-phase approach to address the issue of separation within the Anderson community. In Phase 1, the team identified the root causes of disunity and organized into four teams: connections, branding, production, and leadership, each with specific roles in addressing the community's concerns. Phase 2 involved collecting stories from the community through distributed cards with a prompt about personal journeys. In Phase 3, the team repurposed an unfinished building in downtown Anderson to create an exhibition space. They displayed the collected stories, encouraging viewers to not only read but also interact by categorizing them based on core emotions.`,
  shareImage: 'project-echo/images/1.jpg'
};
---
<DefaultLayout title={seo.title} description={seo.description} shareImage={seo.shareImage}>
<Gtag/>
    <Navbar />
    <Menu />
    <!--Project-->
    <img src="project-echo/images/1.jpg" alt="" class="h-lvh w-full object-cover">
    <div class="grid-cols-scale gap-x-5 p-3 pt-9 md:px-8 md:pt-10">
      <ProjectHeader 
            Title='ECHO' 
            Visible1=`` Info1='Event Branding, Exhibition Design'
            Visible2=`` Info2='InDesign, Illustrator, Figma'
            Visible3=`hidden` Info3=''
            Visible4=`hidden` Info4=''
            Body=`In this project, a team of 15 students undertook a three-phase approach to address the issue of separation within the Anderson community. In Phase 1, the team identified the root causes of disunity and organized into four teams: connections, branding, production, and leadership, each with specific roles in addressing the community's concerns. Phase 2 involved collecting stories from the community through distributed cards with a prompt about personal journeys. In Phase 3, the team repurposed an unfinished building in downtown Anderson to create an exhibition space. They displayed the collected stories, encouraging viewers to not only read but also interact by categorizing them based on core emotions.`
            studentWork=''
            />
          <img src="project-echo/images/2.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:mt-32 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-echo/images/3.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-echo/images/4.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-echo/images/5.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-echo/images/6.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal">
          <img src="project-echo/images/7.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal">
          <img src="project-echo/images/8.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal">
          <img src="project-echo/images/9.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal">
          <img src="project-echo/images/10.jpg" alt="" class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal">
          <div class="col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full box-border grid grid-cols-1 lg:grid-cols-8 lg:gap-3">
          <img src="project-echo/images/14.jpg" alt="" class="rounded-2xl mb-3 w-full col-span-1 lg:col-span-2 reveal">
          <img src="project-echo/images/13.jpg" alt="" class="rounded-2xl mb-3 w-full col-span-1 lg:col-span-2 reveal">
          <img src="project-echo/images/12.jpg" alt="" class="rounded-2xl mb-3 w-full col-span-1 lg:col-span-2 reveal">
          <img src="project-echo/images/11.jpg" alt="" class="rounded-2xl mb-3 w-full col-span-1 lg:col-span-2 reveal">
        </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 mt-14 reveal">
            <div class="header">Phase 1</div>
            <div class="body-copy mt-2 mb-14">First, the team came together to frame the issue of separation between the Anderson community. They discussed possible subjects that were driving the disunity within the community to better understand the root cause. Next, they created "How might we?" questions to help frame the design problem. Finally, they separated into four different teams, which were connections, branding, production, and leadership. Connections focused on connecting with the community and acted as a go-between for the people of Anderson and the whole design unit. The branding team worked on all elements for the identity of the actual exhibition. The production team crafted all the elements required for the exhibition. The leadership team managed the three other teams and ensured the cohesion of visuals and that deadlines were met.</div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-5 lg:mt-14 reveal">
            <div class="header">Phase 2</div>
            <div class="body-copy mt-2 mb-14">In the second phase, the team began working on collecting stories from the people of Anderson. To collect these stories paper cards were given out with the question "How has your journey shaped who you are?" printed at the top. Accompanying these cards were boxes where individuals were able to deposit their cards after writing their stories. These cards and boxes were placed around the city and set to collect stories while the team shifted to phase 3.
            </div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 mt-14 reveal">
            <div class="header">Phase 3</div>
            <div class="body-copy mt-2 mb-14">In phase three the team set about designing and creating an exhibition space to display these stories. The team acquired and unfinished building in the heart of downtown Anderson which they repurposed as the exhibition space. along one whole wall of the building, the team strung long stands of twine which display the cards with the stories. However, the stories were not meant to just stimulate the viewer but the viewer must also be able to interact with the stories in some way. Thus, on the opposite wall, another set of strings was attached. This wall was separated into fur sections that correlated with the four core emotions. These four emotions are joy, fear, anger, and sadness. The viewer was asked to not just read the stories on the wall but to take them off, consider them, and place them under the emotion they thought it embodied. This helped the viewer to not just read the stories but to intellectually engage with them. 
            </div>
          </div>
          <div class="col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-5 lg:mt-14 reveal">
            <div class="header">My Role</div>
            <div class="body-copy mt-2 mb-14">I was placed on the leadership team and helped facilitate all the moving pieces and provided directon for both visuals and production. I had a hand in a bit of everything but my largest effort was in currating the actual exhibition space. 
            </div>
          </div>
  </div>
  <Footer Primary='Next Project' PrimaryLink='project-notion' Secondary='Check Out the Playground' SecondaryLink='playground'/>
</DefaultLayout>