---
// Component Imports
import '../styles/base.css';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'
import ProjectHeader from '../components/ProjectHeader.astro'
import { Image } from 'astro:assets'


const seo = {
  title: 'Campaign',
  description: "The Art+Design program at the South Carolina School of the Arts, Anderson University, fosters growth in both design skills and personal development. This playful and engaging mini zine and fold-out poster offer essential insights from current students to help you make informed college decisions. Featuring student-designed typefaces, artwork, and copy, the zine covers program benefits, clubs, faculty, internships, and future preparation. The fold-out poster showcases the program's excellence with key statistics, alumni quotes, and high-quality student work, highlighting the vibrant and supportive community within our Art+Design department.",
  shareImage: '/project-campaign/images/14.jpg'
};
---
<DefaultLayout title={seo.title} description={seo.description} shareImage={seo.shareImage}>
<Gtag/>
    <Navbar />
    <Menu />
    <!--Project-->
    <div class="bg-gradient-to-r from-[#C5C5C5] via-[#D9D9D9] to-[#C5C5C5] p-4 absolute top-[90%] right-[0%] flex flex-row gap-3 rounded-l-md items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
        <path d="M8.76631 0.717387C9.07761 -0.178173 10.3441 -0.178173 10.6554 0.717388L12.1786 5.0994C12.316 5.49447 12.6846 5.76234 13.1028 5.77086L17.741 5.86538C18.689 5.8847 19.0803 7.08924 18.3248 7.66205L14.628 10.4648C14.2947 10.7175 14.1538 11.1509 14.275 11.5512L15.6184 15.9917C15.8929 16.8992 14.8683 17.6436 14.09 17.1021L10.2821 14.4523C9.93874 14.2134 9.48301 14.2134 9.1397 14.4523L5.33173 17.1021C4.55349 17.6436 3.52884 16.8992 3.8034 15.9917L5.1468 11.5512C5.26791 11.1509 5.12708 10.7175 4.79379 10.4648L1.09694 7.66205C0.341403 7.08924 0.732784 5.8847 1.68071 5.86538L6.31894 5.77086C6.73711 5.76234 7.1058 5.49447 7.24313 5.0994L8.76631 0.717387Z" fill="white"/>
      </svg>
      <div class="text-llg tracking-widest mt-1">SILVER ADDY AWARD</div>
    </div>
    <Image 
      src="/project-campaign/images/14.jpg" 
      alt="" 
      width={1920} 
      height={1080} 
      class="h-lvh w-full object-cover"
    />
    <div class="grid-cols-scale gap-x-5 p-3 pb-20 pt-9 md:px-8 md:pt-10">
          <ProjectHeader 
            Title='CAMPAIGN' 
            Visible1=`` Info1=`Book Design, Poster Design`
            Visible2=`` Info2='InDesign, Illustrator, Figma'
            Visible3=`` Info3='Knoxie le Roux, Sydney Welch, Isabelle Rigsbee, Tabby Lo'
            Visible4=`` Info4='AMERICAN ADVERTISING AWARDS GREENVILLE 2024: Silver Addy - Direct Marketing'
            Body={seo.description}
            studentWork='hidden'
            />
          <video src="project-campaign/images/13.mp4" class="rounded-2xl col-span-4 mt-14 mb-3 md:col-span-8 md:mb-6 lg:mt-32 lg:col-start-2 lg:col-span-10 w-full reveal" autoplay loop muted playsinline playsinline data-object-fit="cover"></video>
          <Image 
            src="/project-campaign/images/1.jpg" 
            alt="" 
            width={800} 
            height={600} 
            class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal"
          />
          <Image 
            src="/project-campaign/images/2.jpg" 
            alt="" 
            width={800} 
            height={600} 
            class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 lg:row-span-2 w-full reveal"
          />
          <Image 
            src="/project-campaign/images/4.jpg" 
            alt="" 
            width={800} 
            height={600} 
            class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal"
          />
          <Image 
            src="/project-campaign/images/5.jpg" 
            alt="" 
            width={800} 
            height={600} 
            class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal"
          />
          <Image 
            src="/project-campaign/images/6.jpg" 
            alt="" 
            width={800} 
            height={600} 
            class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-5 w-full reveal"
          />
          <Image 
            src="/project-campaign/images/7.jpg" 
            alt="" 
            width={800} 
            height={600} 
            class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-7 lg:col-span-5 w-full reveal"
          />
          <Image 
            src="/project-campaign/images/8.jpg" 
            alt="" 
            width={800} 
            height={600} 
            class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal"
          />
          <Image 
            src="/project-campaign/images/9.jpg" 
            alt="" 
            width={800} 
            height={600} 
            class="rounded-2xl col-span-4 mb-3 md:col-span-8 md:mb-6 lg:col-start-2 lg:col-span-10 w-full reveal"
          />
          <Image 
            src="/project-campaign/images/12.jpg" 
            alt="" 
            width={800} 
            height={600} 
            class="self-center rounded-2xl col-span-4 mb-3 mt-14 md:col-span-8 lg:col-start-2 lg:col-span-4 w-full reveal"
          />
          <div class="self-center col-span-4 md:col-start-2 md:col-span-6 lg:col-start-7 lg:col-span-4 mt-14 reveal">
            <div class="header">Mini Zine Design</div>
            <div class="body-copy mt-2 mb-14">Designed to be playful and engaging, the Mini Zine features printer marks, color-coded sections for organization, dotted grid elements, and, most excitingly, student-designed typefaces and artwork! The copy was entirely crafted by students, offering genuine perspectives on program benefits, clubs and organizations, faculty, internships, location, and preparation for the future.</div>
          </div>
          <Image 
            src="/project-campaign/images/3.jpg" 
            alt="" 
            width={800} 
            height={600} 
            class="self-center rounded-2xl col-span-4 mb-3 md:col-span-8 lg:col-start-7 lg:col-span-4 w-full reveal"
          />
          <div class="self-center col-span-4 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4 lg:row-start-[12] mt-14 reveal">
            <div class="header">Fold-Out Poster Design</div>
            <div class="body-copy mt-2 md: mb-14">The fold-out poster highlights the excellence of the Design Program at the South Carolina School of the Arts, Anderson University. Through effective typographic hierarchy, we present key statistics, alumni quotes, and details about the AU Design Program. The interior showcases the high-quality student work produced within the Art+Design department.</div>
          </div>
  </div>
<!--Footer-->
<Footer Primary='Next Project' PrimaryLink='project-postHouse' Secondary='Check Out the Playground' SecondaryLink='playground'/></div>
</DefaultLayout>