---
// Component Imports
import '../styles/base.css';
import Head from '../components/Head.astro'
import Gtag from '../components/gtag.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'
import SideBarNav from '../components/SideBarNav.astro';
import ResourceOfDay from "../components/ResourceOfDay.astro";
import ResourceGridImagery from '../components/ResourceGridImagery.astro';

---

<html lang="en">
<head>
    <Head Title='Resources'/>
    <script defer src="playground/app.js"></script>

    <link rel="stylesheet" href="resources/styles.css">
</head>
<Gtag/>
<body class="bg-white dark:bg-black box-border">
    <Navbar />
    <Menu />
  <!--header-->
  <div class="h-full flex flex-row lg:gap-x-5 px-3 pt-[30px] lg:pt-20 pb-20 md:px-8">
    <div class="z-50 w-0 lg:w-auto">
        <div class="sticky lg:top-[20px]">
            <!--Sidebar -->
            <SideBarNav/>
        </div>
    </div>
    <div class="col-span-4 md:col-span-8 lg:pl-9 lg:col-start-3 lg:col-span-10 grid grid-cols-10">
    <div class="col-span-10 md:col-span-5 pt-[50px] flex flex-col">
    <div class="text-dsm md:text-dmd lg:text-[6.458vw] lg:leading-[6.458vw] text-black dark:text-white font-medium ">Knowledge <br/> Is cool</div>
    <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light"></div>
    </div>
    <div class="pt-20 col-span-10 md:col-span-3 md:col-start-8 lg:col-start-8 flex flex-col md:pt-[20px]">
        <div class="text-bmd tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light pb-[15px]">Resource of the Day</div>
        <ResourceOfDay/>
    </div>
    <div class="pt-[110px] md:pt-[100px] col-span-10 flex flex-col gap-10">
    
      <!-- Imagery -->
      <div class="flex flex-col gap-5">
        <div class="text-tlg tracking-wide">Imagery</div>
        <div class="md:grid grid-cols-2 md:grid-cols-4 lg:gap-[20px] md:gap-y-[40px]">
          <ResourceGridImagery/>
        </div>
      </div>
      

    </div>
  </div>
</div>
<Footer Primary='About Me' PrimaryLink='about' Secondary='Work' SecondaryLink='work'/>

<script is:inline>
    function toggleSidebar() {
    try {
    const sidebar = document.querySelector('.sidebar');
    sidebar.classList.toggle('closed');
    }
    catch (error) {
    console.error('Error fetching data:', error);
  }
}
</script>
</body>
</html>