---
// Component Imports
import '../styles/base.css';
import Head from '../components/Head.astro'
import Gtag from '../components/gtag.astro'
import TagMan from '../components/tagMan.astro'
import Navbar from '../components/Navbar.astro'
import Menu from '../components/Menu.astro'
import ProjectContainer from '../components/ProjectContainer.astro'
import Footer from '../components/Footer.astro'

---
<html lang="en">
<head>
    <Head Title='Work'/>
    <script defer src="work/public/app.js"></script>
    <link rel="stylesheet" href="work/public/styles.css">
    <style>
        body {
            background-color: #fff;
        }
    </style>
</head>
<Gtag/>
<body class="dark:bg-black box-border snap-y">
    <TagMan />
    <Navbar />
    <Menu />
    <div class="h-screen overflow-y-scroll snap-y snap-mandatory">
        <ProjectContainer Title='POST HOUSE' Subject='Branding' Role='Designer' Timeline='4 Weeks' Preview='work/public/images/7.png' Link='project-postHouse' Num='0'/>
        <ProjectContainer Title='BABA ANA' Subject='Branding' Role='Designer' Timeline='4 Weeks' Preview='work/public/images/10.png' Link='project-babaAna' Num='1'/>
        <ProjectContainer Title='LE BLOND' Subject='Branding' Role='Designer' Timeline='4 Weeks' Preview='work/public/images/9.png' Link='project-leBlond' Num='2'/>
        <ProjectContainer Title='KIR' Subject='Branding' Role='Designer' Timeline='4 Weeks' Preview='work/public/images/8.png' Link='project-KIR' Num='3'/>
        <ProjectContainer Title='CAMPAIGN' Subject='Marketing Campaign' Role='Designer' Timeline='2 Weeks' Preview='work/public/images/6.jpg' Link='project-campaign' Num='4'/>
        <ProjectContainer Title='PLAY' Subject='Event Branding' Role='Creative Director' Timeline='6 Weeks' Preview='work/public/images/3.jpg' Link='project-play' Num='5'/>
        <ProjectContainer Title='ENGRAM' Subject='Furniture' Role='Creative Director' Timeline='3 Weeks' Preview='work/public/images/1.jpg' Link='project-engram' Num='6'/>
        <ProjectContainer Title='NOTED' Subject='Mobile App' Role='Designer' Timeline='5 Weeks' Preview='work/public/images/4.jpg' Link='project-noted' Num='7'/>
        <ProjectContainer Title='OFFHAND' Subject='Playing Cards' Role='Designer' Timeline='4 Weeks' Preview='work/public/images/5.jpg' Link='project-offhand' Num='8'/>
    <!--Footer-->
    <div class="mt-20 snap-start"><Footer Primary='About Me' PrimaryLink='about' Secondary='Check Out the Playground' SecondaryLink='playground'/></div>
</div>
</body>
</html>