---
import ResourceGridDB from './ResourceGridDB.astro';
import ResourceGridColor from './ResourceGridColor.astro';
import ResourceGridType from './ResourceGridType.astro';
import ResourceGridIcons from './ResourceGridIcons.astro';
import ResourceGridArchive from './ResourceGridArchive.astro';
import ResourceGridBooks from './ResourceGridBooks.astro';
import ResourceGridDA from './ResourceGridDA.astro';
import ResourceGridDecks from './ResourceGridDecks.astro';
import ResourceGridDR from './ResourceGridDR.astro';
import ResourceGridImagery from './ResourceGridImagery.astro';
import ResourceGridMockups from './ResourceGridMockups.astro';
import ResourceGridWUI from './ResourceGridWUI.astro';
---

<div class="grid grid-cols-2 gap-x-2 gap-y-5 md:grid-cols-4 md:gap-x-[20px] md:gap-y-[40px]" id="resource-list">
    <ResourceGridDB/>
    <ResourceGridColor/>
    <ResourceGridType/>
    <ResourceGridDA/>
    <ResourceGridIcons/>
    <ResourceGridArchive/>
    <ResourceGridBooks/>
    <ResourceGridDecks/>
    <ResourceGridDR/>
    <ResourceGridImagery/>
    <ResourceGridMockups/>
    <ResourceGridWUI/>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {

    const resourceList = document.getElementById('resource-list');
    if (!resourceList) {
        console.error("Element with id 'resource-list' not found");
        return;
    }

    const resourceCards = Array.from(resourceList.children);

    // Shuffle the resource cards array
    for (let i = resourceCards.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [resourceCards[i], resourceCards[j]] = [resourceCards[j], resourceCards[i]];
    }

    // Clear the resource list and append the shuffled resource cards
    resourceList.innerHTML = ' ';

    resourceCards.forEach(card => {
        resourceList.appendChild(card);
    });

});
</script>