---
interface Props {
    Link: string;
    Img: string;
    Title: string;
    Category: string;
    CategoryLink: string;
}

const { Img, Title, Category, Link, CategoryLink } = Astro.props;
---

<div class="w-full flex flex-col resource-card">
    <a href={ Link }><img src={ Img } alt="" class="rounded-2xl"></a>
    <div class="pt-[13px] pl-[3px]">
        <a href={ Link }><div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light truncate">{ Title }</div></a>
        <a href={ CategoryLink }><div class="text-bmd opacity-50 tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">{ Category }</div></a>
    </div>
</div>
