<div class="sidebar flex flex-col bg-[#e6e6e6] dark:bg-[#404040] p-[15px] rounded-2xl lg:h-[84svh]">
    <div class="order-3 lg:order-1 closeButtonContainer w-full p-[3px] flex flex-row items-center flex-wrap justify-between">
        <div class="font-sans text-tsm text-black dark:text-white tracking-wide">CATEGORIES</div>
        <button onclick="toggleSidebar()"><div class="closeButton w-[16px] h-[16px]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <path d="M9.61523 2.00946L11.1095 3.50372L4.71327 9.89995L3.21901 8.40569L9.61523 2.00946Z" class="fill-[#404040] dark:fill-[#e6e6e6]"/>
                <path d="M11.1247 13.3232L9.63041 14.8174L3.22066 8.40769L4.71492 6.91342L11.1247 13.3232Z" class="fill-[#404040] dark:fill-[#e6e6e6]"/>
              </svg>
        </div></button>
    </div>
    <div class="order-2 break bg-black dark:bg-white w-full h-[1px] mb-[10px] mt-[10px]"></div>
    <div class="order-1 lg:order-3 tab-grid flex flex-col gap-[8px] lg:w-full">
        <a href="/resources" class="px-[8px] py-[4px] flex flex-row flex-nowrap gap-[10px] items-center hover:bg-white hover:bg-opacity-20 hover:border-[1px] border-white border-opacity-70 rounded-[10px]">
            <div class="bg-[#919191] w-[20px] h-[20px] flex items-center justify-center rounded-[5px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="opacity-60">
                    <path d="M11.7806 5.87518L7.71805 1.81268C7.52759 1.62228 7.26931 1.51532 7 1.51532C6.7307 1.51532 6.47242 1.62228 6.28196 1.81268L2.21946 5.87518C2.12476 5.96929 2.0497 6.08127 1.99862 6.20462C1.94754 6.32797 1.92145 6.46023 1.92188 6.59374V11.4687C1.92188 11.6304 1.98608 11.7853 2.10036 11.8996C2.21464 12.0139 2.36964 12.0781 2.53126 12.0781H5.78125C5.94287 12.0781 6.09787 12.0139 6.21215 11.8996C6.32643 11.7853 6.39063 11.6304 6.39063 11.4687V8.82811H7.60938V11.4687C7.60938 11.6304 7.67358 11.7853 7.78786 11.8996C7.90214 12.0139 8.05714 12.0781 8.21875 12.0781H11.4688C11.6304 12.0781 11.7854 12.0139 11.8996 11.8996C12.0139 11.7853 12.0781 11.6304 12.0781 11.4687V6.59374C12.0786 6.46023 12.0525 6.32797 12.0014 6.20462C11.9503 6.08127 11.8752 5.96929 11.7806 5.87518ZM10.8594 10.8594H8.82813V8.21874C8.82813 8.05712 8.76393 7.90212 8.64965 7.78784C8.53537 7.67356 8.38037 7.60936 8.21875 7.60936H5.78125C5.61964 7.60936 5.46464 7.67356 5.35036 7.78784C5.23608 7.90212 5.17188 8.05712 5.17188 8.21874V10.8594H3.14063V6.67752L7 2.81815L10.8594 6.67752V10.8594Z" fill="black"/>
                  </svg>
            </div>
            <div class="text-bsm lg:text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">All</div>
          </a>
          <a href="/resources-type" class="px-[8px] py-[4px] flex flex-row gap-[10px] items-center hover:bg-white  hover:bg-opacity-20 hover:border-[1px] border-white border-opacity-70 rounded-[10px]">
            <div class="bg-[#67FF37] w-[20px] h-[20px] flex items-center justify-center rounded-[5px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="opacity-60">
                    <g clip-path="url(#clip0_622_134)">
                      <path d="M5.11399 3.08426C5.06478 2.97957 4.98679 2.89105 4.88913 2.82905C4.79148 2.76705 4.67819 2.73412 4.56251 2.73412C4.44683 2.73412 4.33354 2.76705 4.23589 2.82905C4.13823 2.89105 4.06024 2.97957 4.01103 3.08426L0.761025 9.99051C0.695965 10.1362 0.69061 10.3015 0.746111 10.4511C0.801612 10.6006 0.913543 10.7224 1.05787 10.7904C1.2022 10.8583 1.36741 10.867 1.51804 10.8144C1.66866 10.7619 1.79269 10.6524 1.86349 10.5095L2.65517 8.82813H6.46985L7.26103 10.5095C7.32985 10.6558 7.45395 10.7687 7.60604 10.8234C7.75813 10.8782 7.92574 10.8703 8.072 10.8015C8.21826 10.7327 8.3312 10.6086 8.38596 10.4565C8.44072 10.3044 8.43282 10.1368 8.36399 9.99051L5.11399 3.08426ZM3.22899 7.60938L4.56251 4.77477L5.89653 7.60938H3.22899ZM10.6563 4.76563C9.95294 4.76563 9.39841 4.96164 9.00841 5.3486C8.94708 5.40385 8.89762 5.47098 8.86302 5.54592C8.82842 5.62087 8.80941 5.70206 8.80714 5.78457C8.80486 5.86709 8.81938 5.9492 8.8498 6.02593C8.88023 6.10267 8.92592 6.17242 8.98412 6.23096C9.04231 6.2895 9.1118 6.33561 9.18835 6.36648C9.2649 6.39736 9.34693 6.41236 9.42945 6.41057C9.51198 6.40879 9.59328 6.39026 9.66843 6.3561C9.74358 6.32194 9.811 6.27288 9.86661 6.21188C10.019 6.05953 10.2861 5.98235 10.6563 5.98235C11.2149 5.98235 11.6719 6.34695 11.6719 6.79485V7.01778C11.3535 6.87087 11.0069 6.79547 10.6563 6.79688C9.42431 6.79688 8.42189 7.70789 8.42189 8.82813C8.42189 9.94836 9.42431 10.8594 10.6563 10.8594C11.0453 10.8604 11.4288 10.7666 11.7734 10.5862C11.8458 10.6952 11.9513 10.7781 12.0744 10.8225C12.1974 10.8669 12.3315 10.8706 12.4569 10.8329C12.5822 10.7952 12.692 10.7181 12.7701 10.6132C12.8482 10.5082 12.8905 10.3809 12.8906 10.25V6.79688C12.8906 5.67664 11.8882 4.76563 10.6563 4.76563ZM10.6563 9.64063C10.0977 9.64063 9.64063 9.27602 9.64063 8.82813C9.64063 8.38024 10.0977 8.01563 10.6563 8.01563C11.2149 8.01563 11.6719 8.38024 11.6719 8.82813C11.6719 9.27602 11.2149 9.64063 10.6563 9.64063Z" fill="black"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_622_134">
                        <rect width="13" height="13" fill="white" transform="translate(0.5 0.5)"/>
                      </clipPath>
                    </defs>
                  </svg>
            </div>
            <div class="text-bsm lg:text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">
                Typography</div>
            </a>
        <a href="/resources-icons" class="px-[8px] py-[4px] flex flex-row gap-[10px] items-center hover:bg-white  hover:bg-opacity-20 hover:border-[1px] border-white border-opacity-70 rounded-[10px]">
            <div class="bg-[#7B00F8] w-[20px] h-[20px] flex items-center justify-center rounded-[5px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" class="opacity-60">
                    <path d="M11.402 10.1641C10.7058 8.94211 9.61859 7.98999 8.3155 7.46097C8.96352 6.97497 9.44218 6.29739 9.6837 5.52421C9.92522 4.75104 9.91735 3.92148 9.6612 3.15303C9.40505 2.38458 8.91361 1.71621 8.2565 1.24259C7.59938 0.768962 6.80989 0.514099 5.99988 0.514099C5.18986 0.514099 4.40038 0.768962 3.74326 1.24259C3.08614 1.71621 2.5947 2.38458 2.33855 3.15303C2.0824 3.92148 2.07453 4.75104 2.31605 5.52421C2.55757 6.29739 3.03624 6.97497 3.68425 7.46097C2.38117 7.98999 1.294 8.94211 0.597768 10.1641C0.554627 10.2334 0.525874 10.3108 0.513217 10.3915C0.500561 10.4722 0.50426 10.5546 0.524095 10.6338C0.54393 10.7131 0.579496 10.7875 0.628678 10.8528C0.677859 10.918 0.739654 10.9727 0.810386 11.0135C0.881119 11.0544 0.959346 11.0806 1.04042 11.0906C1.12149 11.1007 1.20375 11.0943 1.28231 11.0719C1.36087 11.0495 1.43412 11.0115 1.49772 10.9603C1.56131 10.909 1.61395 10.8455 1.65249 10.7734C2.57265 9.18297 4.19765 8.23437 5.99988 8.23437C7.80211 8.23437 9.42711 9.18347 10.3473 10.7734C10.4308 10.9078 10.5633 11.0043 10.7168 11.0428C10.8702 11.0812 11.0326 11.0584 11.1696 10.9793C11.3065 10.9001 11.4074 10.7708 11.4508 10.6187C11.4941 10.4666 11.4766 10.3035 11.402 10.1641ZM3.35925 4.375C3.35925 3.85273 3.51412 3.34219 3.80428 2.90795C4.09443 2.4737 4.50684 2.13524 4.98935 1.93538C5.47187 1.73552 6.00281 1.68322 6.51504 1.78511C7.02727 1.887 7.49778 2.1385 7.86708 2.50779C8.23638 2.87709 8.48788 3.34761 8.58977 3.85984C8.69165 4.37207 8.63936 4.90301 8.4395 5.38552C8.23964 5.86803 7.90118 6.28044 7.46693 6.5706C7.03268 6.86075 6.52214 7.01562 5.99988 7.01562C5.29979 7.01482 4.6286 6.73635 4.13356 6.24131C3.63853 5.74627 3.36006 5.07509 3.35925 4.375Z" fill="black"/>
                  </svg>
            </div>
            <div class="text-bsm lg:text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">Icons</div>
          </a>
        <a href="/resources-colors" class="px-[8px] py-[4px] flex flex-row gap-[10px] items-center hover:bg-white  hover:bg-opacity-20 hover:border-[1px] border-white border-opacity-70 rounded-[10px]">
            <div class="bg-[#FF00E3] w-[20px] h-[20px] flex items-center justify-center rounded-[5px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="opacity-60">
                    <path d="M10.8375 3.08982C10.0675 2.33225 9.09066 1.81921 8.02987 1.61517C6.96907 1.41113 5.87164 1.52521 4.87549 1.94305C3.87933 2.36089 3.02892 3.06387 2.43112 3.96362C1.83332 4.86336 1.51481 5.91974 1.51563 6.99998C1.51563 9.27092 2.91719 11.1767 5.17188 11.9735C5.44761 12.071 5.74271 12.1009 6.0324 12.0607C6.32208 12.0205 6.5979 11.9114 6.8367 11.7426C7.07549 11.5737 7.27029 11.3501 7.40474 11.0903C7.53919 10.8306 7.60937 10.5424 7.60938 10.25C7.60938 10.0884 7.67358 9.93337 7.78786 9.81909C7.90214 9.70481 8.05714 9.6406 8.21875 9.6406H10.5654C10.9801 9.64255 11.383 9.50258 11.7073 9.24394C12.0315 8.9853 12.2575 8.62354 12.3478 8.21873C12.442 7.80376 12.4878 7.37928 12.4844 6.95377C12.4794 6.23275 12.3312 5.51992 12.0485 4.85662C11.7658 4.19332 11.3542 3.59277 10.8375 3.08982ZM11.1595 7.94806C11.1292 8.08278 11.0538 8.20308 10.9457 8.28899C10.8376 8.37491 10.7034 8.42125 10.5654 8.42033H8.21875C7.7339 8.42033 7.26891 8.61294 6.92607 8.95578C6.58323 9.29862 6.39063 9.76361 6.39063 10.2485C6.39052 10.3459 6.36704 10.4419 6.32218 10.5284C6.27732 10.6148 6.21237 10.6893 6.13279 10.7455C6.05321 10.8017 5.96131 10.838 5.8648 10.8514C5.76829 10.8647 5.66998 10.8548 5.57813 10.8223C4.73262 10.5237 4.02168 10.022 3.5225 9.37197C3.00394 8.69062 2.72669 7.85618 2.73438 6.99998C2.73432 5.87628 3.17766 4.79794 3.96809 3.99924C4.75852 3.20054 5.83218 2.74599 6.95582 2.73435H7C8.12368 2.73893 9.20057 3.18488 9.9985 3.97607C10.7964 4.76726 11.2515 5.84032 11.2656 6.96392C11.2684 7.29564 11.2328 7.62656 11.1595 7.9501V7.94806ZM7.8125 4.35935C7.8125 4.52005 7.76485 4.67714 7.67557 4.81075C7.58629 4.94437 7.4594 5.04851 7.31093 5.11001C7.16247 5.1715 6.9991 5.18759 6.84149 5.15624C6.68388 5.12489 6.53911 5.04751 6.42548 4.93388C6.31185 4.82025 6.23446 4.67547 6.20311 4.51786C6.17176 4.36025 6.18785 4.19689 6.24935 4.04842C6.31085 3.89996 6.41499 3.77306 6.5486 3.68378C6.68222 3.59451 6.8393 3.54685 7 3.54685C7.21549 3.54685 7.42215 3.63246 7.57453 3.78483C7.7269 3.9372 7.8125 4.14386 7.8125 4.35935ZM5.57813 5.5781C5.57813 5.7388 5.53047 5.89589 5.4412 6.0295C5.35192 6.16312 5.22502 6.26726 5.07656 6.32876C4.92809 6.39025 4.76473 6.40634 4.60712 6.37499C4.44951 6.34364 4.30473 6.26626 4.1911 6.15263C4.07747 6.039 4.00009 5.89422 3.96874 5.73661C3.93739 5.579 3.95348 5.41564 4.01497 5.26717C4.07647 5.11871 4.18061 4.99181 4.31423 4.90253C4.44784 4.81326 4.60493 4.7656 4.76563 4.7656C4.98112 4.7656 5.18778 4.85121 5.34015 5.00358C5.49252 5.15595 5.57813 5.36261 5.57813 5.5781ZM5.57813 8.42185C5.57813 8.58255 5.53047 8.73964 5.4412 8.87325C5.35192 9.00687 5.22502 9.11101 5.07656 9.17251C4.92809 9.234 4.76473 9.25009 4.60712 9.21874C4.44951 9.18739 4.30473 9.11001 4.1911 8.99638C4.07747 8.88275 4.00009 8.73797 3.96874 8.58036C3.93739 8.42275 3.95348 8.25939 4.01497 8.11092C4.07647 7.96246 4.18061 7.83556 4.31423 7.74628C4.44784 7.65701 4.60493 7.60935 4.76563 7.60935C4.98112 7.60935 5.18778 7.69496 5.34015 7.84733C5.49252 7.9997 5.57813 8.20636 5.57813 8.42185ZM10.0469 5.5781C10.0469 5.7388 9.99922 5.89589 9.90995 6.0295C9.82067 6.16312 9.69377 6.26726 9.54531 6.32876C9.39684 6.39025 9.23348 6.40634 9.07587 6.37499C8.91826 6.34364 8.77348 6.26626 8.65985 6.15263C8.54622 6.039 8.46884 5.89422 8.43749 5.73661C8.40614 5.579 8.42223 5.41564 8.48372 5.26717C8.54522 5.11871 8.64936 4.99181 8.78298 4.90253C8.91659 4.81326 9.07368 4.7656 9.23438 4.7656C9.44987 4.7656 9.65653 4.85121 9.8089 5.00358C9.96127 5.15595 10.0469 5.36261 10.0469 5.5781Z" fill="black"/>
                  </svg>
            </div>
            <div class="text-bsm lg:text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">Colors</div>
          </a>
        <a href="/resources-mockups" class="px-[8px] py-[4px] flex flex-row gap-[10px] items-center hover:bg-white  hover:bg-opacity-20 hover:border-[1px] border-white border-opacity-70 rounded-[10px]">
            <div class="bg-[#0017F8] w-[20px] h-[20px] flex items-center justify-center rounded-[5px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="opacity-60">
                    <path d="M11.9563 3.68092L7.4875 1.23479C7.33816 1.1526 7.17046 1.1095 7 1.1095C6.82954 1.1095 6.66184 1.1526 6.5125 1.23479L2.04375 3.68092C1.88385 3.76841 1.75044 3.89732 1.65752 4.05413C1.56459 4.21094 1.51558 4.38986 1.51563 4.57213V9.42784C1.51558 9.61011 1.56459 9.78903 1.65752 9.94584C1.75044 10.1026 1.88385 10.2316 2.04375 10.319L6.5125 12.7652C6.66181 12.8475 6.82952 12.8906 7 12.8906C7.17048 12.8906 7.33819 12.8475 7.4875 12.7652L11.9563 10.319C12.1162 10.2316 12.2496 10.1026 12.3425 9.94584C12.4354 9.78903 12.4844 9.61011 12.4844 9.42784V4.57213C12.4844 4.38986 12.4354 4.21094 12.3425 4.05413C12.2496 3.89732 12.1162 3.76841 11.9563 3.68092ZM7 2.35705L10.6562 4.35936L7 6.36014L3.34375 4.35936L7 2.35705ZM2.73438 5.4151L6.39062 7.41588V11.3093L2.73438 9.30748V5.4151ZM7.60938 11.3093V7.41588L11.2656 5.4151V9.30748L7.60938 11.3093Z" fill="black"/>
                  </svg>
            </div>
            <div class="text-bsm lg:text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">Mockups</div>
          </a>
        <a href="/resources-archive" class="px-[8px] py-[4px] flex flex-row gap-[10px] items-center hover:bg-white  hover:bg-opacity-20 hover:border-[1px] border-white border-opacity-70 rounded-[10px]">
            <div class="bg-[#FFD932] w-[20px] h-[20px] flex items-center justify-center rounded-[5px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="opacity-60">
                    <path d="M11.875 2.73438H2.125C1.85564 2.73438 1.59731 2.84138 1.40684 3.03184C1.21638 3.22231 1.10938 3.48064 1.10938 3.75V4.96875C1.10933 5.20288 1.19017 5.42984 1.33823 5.61121C1.48629 5.79259 1.69247 5.91724 1.92188 5.96406V10.25C1.92188 10.5194 2.02888 10.7777 2.21934 10.9682C2.40981 11.1586 2.66814 11.2656 2.9375 11.2656H11.0625C11.3319 11.2656 11.5902 11.1586 11.7807 10.9682C11.9711 10.7777 12.0781 10.5194 12.0781 10.25V5.96406C12.3075 5.91724 12.5137 5.79259 12.6618 5.61121C12.8098 5.42984 12.8907 5.20288 12.8906 4.96875V3.75C12.8906 3.48064 12.7836 3.22231 12.5932 3.03184C12.4027 2.84138 12.1444 2.73438 11.875 2.73438ZM2.32812 3.95312H11.6719V4.76562H2.32812V3.95312ZM3.14062 10.0469V5.98438H10.8594V10.0469H3.14062ZM8.82812 7.40625C8.82812 7.56787 8.76392 7.72286 8.64964 7.83714C8.53536 7.95142 8.38037 8.01562 8.21875 8.01562H5.78125C5.61963 8.01562 5.46464 7.95142 5.35036 7.83714C5.23608 7.72286 5.17188 7.56787 5.17188 7.40625C5.17188 7.24463 5.23608 7.08964 5.35036 6.97536C5.46464 6.86108 5.61963 6.79688 5.78125 6.79688H8.21875C8.38037 6.79688 8.53536 6.86108 8.64964 6.97536C8.76392 7.08964 8.82812 7.24463 8.82812 7.40625Z" fill="black"/>
                  </svg>
            </div>
            <div class="text-bsm lg:text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">
                Archive</div>
            </a>
        <a href="/resources-imagery" class="px-[8px] py-[4px] flex flex-row gap-[10px] items-center hover:bg-white  hover:bg-opacity-20 hover:border-[1px] border-white border-opacity-70 rounded-[10px]">
            <div class="bg-[#009BFA] w-[20px] h-[20px] flex items-center justify-center rounded-[5px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="opacity-60">
                    <path d="M7.8125 5.375C7.8125 5.2143 7.86015 5.05721 7.94943 4.9236C8.03871 4.78998 8.1656 4.68584 8.31407 4.62435C8.46253 4.56285 8.6259 4.54676 8.78351 4.57811C8.94112 4.60946 9.08589 4.68685 9.19952 4.80048C9.31315 4.91411 9.39054 5.05888 9.42189 5.21649C9.45324 5.3741 9.43715 5.53747 9.37565 5.68593C9.31416 5.8344 9.21002 5.96129 9.0764 6.05057C8.94279 6.13985 8.7857 6.1875 8.625 6.1875C8.40951 6.1875 8.20285 6.1019 8.05048 5.94952C7.8981 5.79715 7.8125 5.59049 7.8125 5.375ZM12.4844 3.34375V10.6562C12.4844 10.9256 12.3774 11.1839 12.1869 11.3744C11.9964 11.5649 11.7381 11.6719 11.4688 11.6719H2.53125C2.26189 11.6719 2.00356 11.5649 1.81309 11.3744C1.62263 11.1839 1.51562 10.9256 1.51562 10.6562V3.34375C1.51562 3.07439 1.62263 2.81606 1.81309 2.62559C2.00356 2.43513 2.26189 2.32813 2.53125 2.32812H11.4688C11.7381 2.32813 11.9964 2.43513 12.1869 2.62559C12.3774 2.81606 12.4844 3.07439 12.4844 3.34375ZM2.73438 3.54688V7.59516L4.45383 5.8757C4.64429 5.6853 4.90257 5.57834 5.17188 5.57834C5.44118 5.57834 5.69946 5.6853 5.88992 5.8757L7.98059 7.96484L8.85301 7.09293C9.04347 6.90253 9.30175 6.79557 9.57105 6.79557C9.84036 6.79557 10.0986 6.90253 10.2891 7.09293L11.2656 8.07098V3.54688H2.73438ZM2.73438 10.4531H8.74383L5.17188 6.88117L2.73438 9.31867V10.4531ZM11.2656 10.4531V9.79297L9.57105 8.0984L8.84234 8.82812L10.4673 10.4531H11.2656Z" fill="black"/>
                  </svg>
            </div>
            <div class="text-bsm lg:text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">
                Imagery</div>
            </a>
        <a href="/resources-books" class="px-[8px] py-[4px] flex flex-row gap-[10px] items-center hover:bg-white  hover:bg-opacity-20 hover:border-[1px] border-white border-opacity-70 rounded-[10px]">
            <div class="bg-[#FF4C19] w-[20px] h-[20px] flex items-center justify-center rounded-[5px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="opacity-60">
                    <path d="M11.0625 1.51562H4.15625C3.6714 1.51563 3.20641 1.70823 2.86357 2.05107C2.52073 2.39391 2.32813 2.8589 2.32812 3.34375V11.875C2.32812 12.0366 2.39233 12.1916 2.50661 12.3059C2.62089 12.4202 2.77588 12.4844 2.9375 12.4844H10.25C10.4116 12.4844 10.5666 12.4202 10.6809 12.3059C10.7952 12.1916 10.8594 12.0366 10.8594 11.875C10.8594 11.7134 10.7952 11.5584 10.6809 11.4441C10.5666 11.3298 10.4116 11.2656 10.25 11.2656H3.54688V11.0625C3.54688 10.9009 3.61108 10.7459 3.72536 10.6316C3.83964 10.5173 3.99463 10.4531 4.15625 10.4531H11.0625C11.2241 10.4531 11.3791 10.3889 11.4934 10.2746C11.6077 10.1604 11.6719 10.0054 11.6719 9.84375V2.125C11.6719 1.96338 11.6077 1.80839 11.4934 1.69411C11.3791 1.57983 11.2241 1.51562 11.0625 1.51562ZM10.4531 9.23438H4.15625C3.94862 9.23398 3.74248 9.26937 3.54688 9.33898V3.34375C3.54688 3.18213 3.61108 3.02714 3.72536 2.91286C3.83964 2.79858 3.99463 2.73438 4.15625 2.73438H10.4531V9.23438Z" fill="black"/>
                  </svg>
            </div>
            <div class="text-bsm lg:text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">
                Books</div>
            </a>
        <a href="/resources-da" class="px-[8px] py-[4px] flex flex-row gap-[10px] items-center hover:bg-white  hover:bg-opacity-20 hover:border-[1px] border-white border-opacity-70 rounded-[10px]">
            <div class="bg-[#FF0000] w-[20px] h-[20px] flex items-center justify-center rounded-[5px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none" class="opacity-60">
                    <path d="M11.8906 9.85938H11.2812V4.54258C11.4163 4.49432 11.53 4.39998 11.6023 4.27616C11.6747 4.15234 11.701 4.00698 11.6768 3.86564C11.6525 3.72431 11.5792 3.59605 11.4697 3.50345C11.3602 3.41085 11.2215 3.35983 11.0781 3.35938H9.04688V2.10508C9.18191 2.05682 9.29561 1.96248 9.36795 1.83866C9.44029 1.71484 9.46665 1.56948 9.44239 1.42814C9.41813 1.28681 9.34479 1.15855 9.2353 1.06595C9.1258 0.973352 8.98715 0.922334 8.84375 0.921875H1.53125C1.38785 0.922334 1.2492 0.973352 1.1397 1.06595C1.03021 1.15855 0.956874 1.28681 0.932611 1.42814C0.908347 1.56948 0.934706 1.71484 1.00705 1.83866C1.07939 1.96248 1.19309 2.05682 1.32812 2.10508V9.85938H0.71875C0.557134 9.85938 0.402137 9.92358 0.287857 10.0379C0.173577 10.1521 0.109375 10.3071 0.109375 10.4688C0.109375 10.6304 0.173577 10.7854 0.287857 10.8996C0.402137 11.0139 0.557134 11.0781 0.71875 11.0781H11.8906C12.0522 11.0781 12.2072 11.0139 12.3215 10.8996C12.4358 10.7854 12.5 10.6304 12.5 10.4688C12.5 10.3071 12.4358 10.1521 12.3215 10.0379C12.2072 9.92358 12.0522 9.85938 11.8906 9.85938ZM10.0625 4.57812V9.85938H9.04688V4.57812H10.0625ZM2.54688 2.14062H7.82812V9.85938H7.01562V7.625C7.01562 7.46338 6.95142 7.30839 6.83714 7.19411C6.72286 7.07983 6.56787 7.01562 6.40625 7.01562H3.96875C3.80713 7.01562 3.65214 7.07983 3.53786 7.19411C3.42358 7.30839 3.35938 7.46338 3.35938 7.625V9.85938H2.54688V2.14062ZM5.79688 9.85938H4.57812V8.23438H5.79688V9.85938ZM3.15625 3.5625C3.15625 3.40088 3.22045 3.24589 3.33473 3.13161C3.44901 3.01733 3.60401 2.95313 3.76562 2.95312H4.17188C4.33349 2.95313 4.48849 3.01733 4.60277 3.13161C4.71705 3.24589 4.78125 3.40088 4.78125 3.5625C4.78125 3.72412 4.71705 3.87911 4.60277 3.99339C4.48849 4.10767 4.33349 4.17187 4.17188 4.17188H3.76562C3.60401 4.17187 3.44901 4.10767 3.33473 3.99339C3.22045 3.87911 3.15625 3.72412 3.15625 3.5625ZM5.59375 3.5625C5.59375 3.40088 5.65795 3.24589 5.77223 3.13161C5.88651 3.01733 6.04151 2.95313 6.20312 2.95312H6.60938C6.77099 2.95313 6.92599 3.01733 7.04027 3.13161C7.15455 3.24589 7.21875 3.40088 7.21875 3.5625C7.21875 3.72412 7.15455 3.87911 7.04027 3.99339C6.92599 4.10767 6.77099 4.17187 6.60938 4.17188H6.20312C6.04151 4.17187 5.88651 4.10767 5.77223 3.99339C5.65795 3.87911 5.59375 3.72412 5.59375 3.5625ZM3.15625 5.59375C3.15625 5.43213 3.22045 5.27714 3.33473 5.16286C3.44901 5.04858 3.60401 4.98438 3.76562 4.98438H4.17188C4.33349 4.98438 4.48849 5.04858 4.60277 5.16286C4.71705 5.27714 4.78125 5.43213 4.78125 5.59375C4.78125 5.75537 4.71705 5.91036 4.60277 6.02464C4.48849 6.13892 4.33349 6.20312 4.17188 6.20312H3.76562C3.60401 6.20312 3.44901 6.13892 3.33473 6.02464C3.22045 5.91036 3.15625 5.75537 3.15625 5.59375ZM5.59375 5.59375C5.59375 5.43213 5.65795 5.27714 5.77223 5.16286C5.88651 5.04858 6.04151 4.98438 6.20312 4.98438H6.60938C6.77099 4.98438 6.92599 5.04858 7.04027 5.16286C7.15455 5.27714 7.21875 5.43213 7.21875 5.59375C7.21875 5.75537 7.15455 5.91036 7.04027 6.02464C6.92599 6.13892 6.77099 6.20312 6.60938 6.20312H6.20312C6.04151 6.20312 5.88651 6.13892 5.77223 6.02464C5.65795 5.91036 5.59375 5.75537 5.59375 5.59375Z" fill="black"/>
                  </svg>
            </div>
            <div class="text-bsm lg:text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">
                Design Agencies</div>
            </a>
        <a href="/resources-wui" class="px-[8px] py-[4px] flex flex-row gap-[10px] items-center hover:bg-white  hover:bg-opacity-20 hover:border-[1px] border-white border-opacity-70 rounded-[10px]">
            <div class="bg-[#BDFF00] w-[20px] h-[20px] flex items-center justify-center rounded-[5px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none" class="opacity-60">
                    <path d="M10.4688 0.328125H1.53125C1.26189 0.328125 1.00356 0.435128 0.813095 0.625595C0.622628 0.816061 0.515625 1.07439 0.515625 1.34375V8.65625C0.515625 8.92561 0.622628 9.18394 0.813095 9.37441C1.00356 9.56487 1.26189 9.67188 1.53125 9.67188H10.4688C10.7381 9.67188 10.9964 9.56487 11.1869 9.37441C11.3774 9.18394 11.4844 8.92561 11.4844 8.65625V1.34375C11.4844 1.07439 11.3774 0.816061 11.1869 0.625595C10.9964 0.435128 10.7381 0.328125 10.4688 0.328125ZM1.73438 1.54688H3.35938V8.45312H1.73438V1.54688ZM10.2656 8.45312H4.57812V1.54688H10.2656V8.45312Z" fill="black"/>
                  </svg>
            </div>
            <div class="text-bsm lg:text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">
                Web and UI</div>
            </a>
        <a href="/resources-dr" class="px-[8px] py-[4px] flex flex-row gap-[10px] items-center hover:bg-white  hover:bg-opacity-20 hover:border-[1px] border-white border-opacity-70 rounded-[10px]">
            <div class="bg-[#FF007A] w-[20px] h-[20px] flex items-center justify-center rounded-[5px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="opacity-60">
                    <path d="M12.3061 11.4439L9.89452 9.03124C10.6176 8.08898 10.9552 6.90696 10.8388 5.72495C10.7224 4.54294 10.1608 3.44945 9.2678 2.66631C8.37484 1.88318 7.21742 1.46903 6.03032 1.50788C4.84323 1.54673 3.71537 2.03567 2.87552 2.87552C2.03567 3.71537 1.54673 4.84323 1.50788 6.03032C1.46903 7.21742 1.88318 8.37484 2.66631 9.2678C3.44945 10.1608 4.54294 10.7224 5.72495 10.8388C6.90696 10.9552 8.08898 10.6176 9.03124 9.89452L11.4449 12.3087C11.5016 12.3653 11.5689 12.4103 11.6429 12.441C11.717 12.4717 11.7964 12.4875 11.8765 12.4875C11.9567 12.4875 12.0361 12.4717 12.1101 12.441C12.1842 12.4103 12.2515 12.3653 12.3082 12.3087C12.3648 12.252 12.4098 12.1847 12.4405 12.1106C12.4712 12.0366 12.4869 11.9572 12.4869 11.877C12.4869 11.7969 12.4712 11.7175 12.4405 11.6434C12.4098 11.5694 12.3648 11.5021 12.3082 11.4454L12.3061 11.4439ZM2.73437 6.18749C2.73437 5.50453 2.93689 4.8369 3.31632 4.26904C3.69576 3.70117 4.23506 3.25858 4.86604 2.99722C5.49701 2.73586 6.19132 2.66748 6.86116 2.80072C7.531 2.93396 8.14629 3.26284 8.62922 3.74576C9.11215 4.22869 9.44103 4.84398 9.57427 5.51382C9.7075 6.18366 9.63912 6.87797 9.37776 7.50895C9.1164 8.13992 8.67381 8.67922 8.10594 9.05866C7.53808 9.43809 6.87045 9.64062 6.18749 9.64062C5.27195 9.63967 4.39419 9.27556 3.7468 8.62818C3.09942 7.9808 2.73531 7.10303 2.73437 6.18749Z" fill="black"/>
                  </svg>
            </div>
            <div class="text-bsm lg:text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">
                Design Research</div>
            </a>
        <a href="/resources-db" class="px-[8px] py-[4px] flex flex-row gap-[10px] items-center hover:bg-white  hover:bg-opacity-20 hover:border-[1px] border-white border-opacity-70 rounded-[10px]">
            <div class="bg-[#BE03FF] w-[20px] h-[20px] flex items-center justify-center rounded-[5px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none" class="opacity-60">
                    <path d="M6.8125 3.375C6.8125 3.2143 6.86015 3.05721 6.94943 2.9236C7.03871 2.78998 7.1656 2.68584 7.31407 2.62435C7.46253 2.56285 7.6259 2.54676 7.78351 2.57811C7.94112 2.60946 8.08589 2.68685 8.19952 2.80048C8.31315 2.91411 8.39054 3.05888 8.42189 3.21649C8.45324 3.3741 8.43715 3.53747 8.37565 3.68593C8.31416 3.8344 8.21002 3.96129 8.0764 4.05057C7.94279 4.13985 7.7857 4.1875 7.625 4.1875C7.40951 4.1875 7.20285 4.1019 7.05048 3.94952C6.8981 3.79715 6.8125 3.59049 6.8125 3.375ZM11.4844 1.34375V8.65625C11.4844 8.92561 11.3774 9.18394 11.1869 9.37441C10.9964 9.56487 10.7381 9.67188 10.4688 9.67188H1.53125C1.26189 9.67188 1.00356 9.56487 0.813095 9.37441C0.622628 9.18394 0.515625 8.92561 0.515625 8.65625V1.34375C0.515625 1.07439 0.622628 0.816061 0.813095 0.625595C1.00356 0.435128 1.26189 0.328125 1.53125 0.328125H10.4688C10.7381 0.328125 10.9964 0.435128 11.1869 0.625595C11.3774 0.816061 11.4844 1.07439 11.4844 1.34375ZM1.73438 1.54688V5.59516L3.45383 3.8757C3.64429 3.6853 3.90257 3.57834 4.17188 3.57834C4.44118 3.57834 4.69946 3.6853 4.88992 3.8757L6.98059 5.96484L7.85301 5.09293C8.04347 4.90253 8.30175 4.79557 8.57105 4.79557C8.84036 4.79557 9.09864 4.90253 9.2891 5.09293L10.2656 6.07098V1.54688H1.73438ZM1.73438 8.45312H7.74383L4.17188 4.88117L1.73438 7.31867V8.45312ZM10.2656 8.45312V7.79297L8.57105 6.0984L7.84234 6.82812L9.46734 8.45312H10.2656Z" fill="black"/>
                  </svg>
            </div>
            <div class="text-bsm lg:text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">
                Design Blogs</div>
            </a>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the current URL path
        const currentUrl = window.location.pathname;

        // Select all anchor elements in the sidebar
        const links = document.querySelectorAll('.sidebar a');

        // Loop through each anchor element
        links.forEach(link => {
            // Get the href attribute of the anchor
            const linkUrl = link.getAttribute('href');

            // Check if the current URL ends with the linkUrl
            if (currentUrl.endsWith(linkUrl)) {
                // Remove the hover classes
                link.classList.remove('hover:bg-white', 'hover:bg-opacity-20');
                // Add the active classes
                link.classList.add('bg-white', 'bg-opacity-40', 'dark:bg-opacity-20');
            }
        });
    });
</script>

