<div class="absolute z-90 grid-cols-scale px-3 py-4 md:px-8 md:py-8 w-full box-border mix-blend-color-burn" id="navbar">
    <a href="/" class="col-span-1 mb-1 self-center"><div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <path d="M14.3673 0H3.61693C1.61938 0 0 1.6756 0 3.74249C0 5.80938 1.61938 7.48498 3.61693 7.48498H9.1428C12.5831 7.48498 15.372 4.59931 15.372 1.03958C15.372 0.46542 14.9221 0 14.3673 0Z" class="fill-black dark:fill-white"/>
                <path d="M9.1428 8.72827H3.61693C1.61938 8.72827 0 10.4039 0 12.4708C0 14.5377 1.61938 16.2133 3.61693 16.2133H14.3673C14.9221 16.2133 15.372 15.7478 15.372 15.1737C15.372 11.6139 12.5831 8.72827 9.1428 8.72827Z" class="fill-black dark:fill-white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                <path d="M1.63275 0C1.07786 0 0.628052 0.46542 0.628052 1.03958V12.8729C0.628052 14.9398 2.24743 16.6154 4.24498 16.6154C6.24253 16.6154 7.86191 14.9398 7.86191 12.8729V6.4454C7.86191 2.88567 5.07306 0 1.63275 0Z" class="fill-black dark:fill-white"/>
                <path d="M15.2936 0C11.8532 0 9.06439 2.88567 9.06439 6.4454V12.8729C9.06439 14.9398 10.6838 16.6154 12.6813 16.6154C14.6789 16.6154 16.2983 14.9398 16.2983 12.8729V1.03958C16.2983 0.46542 15.8484 0 15.2936 0Z" class="fill-black dark:fill-white"/>
            </svg>
        </div></a>
        <a href="work" class="nav-but col-start-2 hidden lg:block self-center"><div class="text-black dark:text-white txt-blg font-mono w-fit und-ef">Work</div></a>
        <a href="about" class="nav-but col-start-5 hidden lg:block self-center"><div class="text-black dark:text-white txt-blg font-mono w-fit und-ef">About</div></a>
        <a href="resources" class="nav-but col-start-8 hidden lg:block self-center"><div class="text-black dark:text-white txt-blg font-mono w-fit und-ef">Resources</div></a>
        <a href="playground" class="nav-but col-start-11 hidden lg:block self-center"><div class="text-black dark:text-white txt-blg font-mono w-fit und-ef">Playground</div></a> 
        <a href="javascript:void(0);" class="icon self-center lg:hidden col-start-12 flex flex-row" onclick="openNav()">
            <i class="hamburger" id="hamburger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect y="2.26416" width="24" height="3.16981" class="fill-black dark:fill-white"/>
                <rect y="17.6604" width="24" height="3.16981" class="fill-black dark:fill-white"/>
                <rect x="1.81133" y="9.96225" width="22.1887" height="3.16981" class="fill-black dark:fill-white"/>
              </svg></i>
        </a>
    </div>

