---
interface Props {
    Title: string;
	Subject: string;
	Role: string;
	Timeline: string;
    Preview: string;
    Link: string;
    Num: string;
}

const { Title, Subject, Role, Timeline, Preview, Link, Num } = Astro.props;
---


<div class="w-full col-span-2 bg-[#303030] p-[15px] ">
    <div class="flex flex-row items-center content-between">
        <div class="font-sans text-tsm">CATEGORIES</div>
        <div></div>
    </div>
</div>