---
interface Props {
    Title: string;
	Subject: string;
	Role: string;
	Timeline: string;
    Preview: string;
    Link: string;
    Num: string;
}

const { Title, Subject, Role, Timeline, Preview, Link, Num } = Astro.props;
---


<div class="w-full col-span-2">
    
</div>