---
interface Props {
    Img: string;
	Title: string;
    Category: string;
}

const { Img, Title, Category } = Astro.props;
---

<div class="w-full flex flex-col">
    <img src={ Img } alt="">
    <div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">{ Title }</div>
        <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">{ Category }</div>
    </div>
</div>