<div class="w-full h-full col-span-2 bg-[#303030] p-[15px] rounded-2xl">
    <div class="w-full p-[3px] flex flex-row items-center flex-wrap justify-between">
        <div class="font-sans text-tsm">CATEGORIES</div>
        <div class="w-[16px] h-[16pxnpm run build]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <path d="M9.61523 2.00946L11.1095 3.50372L4.71327 9.89995L3.21901 8.40569L9.61523 2.00946Z" fill="#D9D9D9"/>
                <path d="M11.1247 13.3232L9.63041 14.8174L3.22066 8.40769L4.71492 6.91342L11.1247 13.3232Z" fill="#D9D9D9"/>
              </svg>
        </div>
    </div>
    <div class="mt-[10px] bg-black dark:bg-white w-full h-[1px] mb-[10px]"></div>
    <div class="w-full">
        <div class="p-[8px] flex flex-row gap-[10px] items-center hover:bg-white hover:bg-opacity-20 hover:border-white hover:border-[1px] rounded-[10px]">
            <div class="bg-[#919191] w-[20px] h-[20px] flex items-center justify-center rounded-[5px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                    <path d="M11.7806 5.87518L7.71805 1.81268C7.52759 1.62228 7.26931 1.51532 7 1.51532C6.7307 1.51532 6.47242 1.62228 6.28196 1.81268L2.21946 5.87518C2.12476 5.96929 2.0497 6.08127 1.99862 6.20462C1.94754 6.32797 1.92145 6.46023 1.92188 6.59374V11.4687C1.92188 11.6304 1.98608 11.7853 2.10036 11.8996C2.21464 12.0139 2.36964 12.0781 2.53126 12.0781H5.78125C5.94287 12.0781 6.09787 12.0139 6.21215 11.8996C6.32643 11.7853 6.39063 11.6304 6.39063 11.4687V8.82811H7.60938V11.4687C7.60938 11.6304 7.67358 11.7853 7.78786 11.8996C7.90214 12.0139 8.05714 12.0781 8.21875 12.0781H11.4688C11.6304 12.0781 11.7854 12.0139 11.8996 11.8996C12.0139 11.7853 12.0781 11.6304 12.0781 11.4687V6.59374C12.0786 6.46023 12.0525 6.32797 12.0014 6.20462C11.9503 6.08127 11.8752 5.96929 11.7806 5.87518ZM10.8594 10.8594H8.82813V8.21874C8.82813 8.05712 8.76393 7.90212 8.64965 7.78784C8.53537 7.67356 8.38037 7.60936 8.21875 7.60936H5.78125C5.61964 7.60936 5.46464 7.67356 5.35036 7.78784C5.23608 7.90212 5.17188 8.05712 5.17188 8.21874V10.8594H3.14063V6.67752L7 2.81815L10.8594 6.67752V10.8594Z" fill="black"/>
                  </svg>
            </div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light">All</div>
        </div>
    </div>
</div>