---
interface Props {
	Header: string;
	Paragraph: string;
	Secondary: string;
    SecondaryLink: string
}

const { Primary, PrimaryLink, Secondary, SecondaryLink } = Astro.props;
---


<div class="text-hsm text-black dark:text-white">Mini Zine Design</div>
            <div class="text-blg tracking-wide text-black dark:text-white text-opacity-85 dark:text-opacity-85 font-mono font-light mt-2 mb-14">Designed to be playful and engaging, the Mini Zine features printer marks, color-coded sections for organization, dotted grid elements, and, most excitingly, student-designed typefaces and artwork! The copy was entirely crafted by students, offering genuine perspectives on program benefits, clubs and organizations, faculty, internships, location, and preparation for the future.</div>

